@import '../../../../../../../assets/sass/variables.scss';

.search-post{
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    width: 100%;
    height: 45px;
    background-color: $color-dark-4;
    margin-top: 14px;
    input{
        width: calc(100% - 40px);
    }
}
