<div class="checkout-container">
    <div class="row">
        <div class="col-lg-8">
           <form class="info-section" [formGroup]="checkoutForm"  (ngSubmit)="submitCheckoutForm()">
            <div class="account-details">
                <h5 class="pb-3 mb-4">{{ 'accountDetailsTitle' | translate }}</h5>
                <div class="row my-2">
                    <div class="col-lg-6">
                        <label>{{'email' | translate}}</label>
                        <input 
                        type="text" 
                        formControlName="email" 
                        class="form-control"
                        [ngClass]="{'has-error':checkoutForm.get('email')?.touched && checkoutForm.get('email')?.invalid}"
                        >                
                       <p class="error-message" *ngIf="checkoutForm.get('email')?.touched && checkoutForm.get('email')?.invalid"> 
                        <span class="error-message" *ngIf="checkoutForm.get('email')?.errors?.['required']">
                           {{'emailAddressEmptyError' | translate}}
                        </span>
                        <span class="error-message" *ngIf="checkoutForm.get('email')?.errors?.['email']">
                          {{' emailAddressValidError' | translate}}
                        </span>
                        </p> 
                    </div>
                    <div class="col-lg-6">
                        <label>{{'phone' | translate}}</label>
                        <input 
                        type="tel" 
                        formControlName="phone"  
                        class="form-control"
                        [ngClass]="{'has-error':checkoutForm.get('phone')?.touched && checkoutForm.get('phone')?.invalid}"
                        >
                        <p class="error-message" *ngIf="checkoutForm.get('phone')?.touched && checkoutForm.get('phone')?.invalid">
                            <span class="error-message" *ngIf="checkoutForm.get('phone')?.errors?.['required']">
                               {{'phoneNumberEmptyError' | translate}}
                            </span>
                            <span class="error-message" *ngIf="checkoutForm.get('phone')?.errors?.['pattern']">
                                {{'phoneNumberValidError' | translate}}
                            </span>
                         </p>
                    </div>
                </div>      
            </div>
            <div class="billing-details">
              <h5 class="pb-3 mb-4">{{ 'billingDetailsTitle' | translate }}</h5>
                <div class="row my-2">
                    <div class="col-lg-6">
                        <label>{{'firstNameLabel' | translate}}</label>
                        <input 
                         type="text" 
                         formControlName="firstName" 
                         class="form-control"
                         [ngClass]="{'has-error':checkoutForm.get('firstName')?.touched && checkoutForm.get('firstName')?.invalid}"
                        >
                        <p class="error-message" *ngIf="checkoutForm.get('firstName')?.touched && checkoutForm.get('firstName')?.invalid"> 
                             {{'firstNameEmptyError' | translate}}
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <label>{{'lastNameLabel' | translate}}</label>
                        <input 
                        type="text" 
                        formControlName="lastName" 
                        class="form-control"
                        [ngClass]="{'has-error':checkoutForm.get('lastName')?.touched && checkoutForm.get('lastName')?.invalid}"
                        >
                        <p class="error-message" *ngIf="checkoutForm.get('lastName')?.touched && checkoutForm.get('lastName')?.invalid"> 
                             {{'lastNameEmptyError' | translate}}
                        </p>
                    </div>
                </div>
                <div class="row my-2">
                    <label> {{'streetAddressLabel' | translate}}</label>
                    <div class="col-lg-12">
                        <input 
                        type="text" 
                        formControlName="address1" 
                        class="form-control" 
                        placeholder="{{'addressLine1' | translate}}"
                        [ngClass]="{'has-error':checkoutForm.get('address1')?.touched && checkoutForm.get('address1')?.invalid}"
                        >
                        <p class="error-message" *ngIf="checkoutForm.get('address1')?.touched && checkoutForm.get('address1')?.invalid"> 
                            {{'streetAddressEmptyError' | translate}}
                        </p>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <input type="text" formControlName="address2" class="form-control" placeholder="{{'addressLine2' | translate}}">
                    </div>
                 </div>
                 <div class="row my-2">
                    <div class="col-lg-6">
                        <label>{{'cityLabel' | translate}}</label>
                        <input 
                        type="text" 
                        formControlName="city" 
                        class="form-control"
                        [ngClass]="{'has-error':checkoutForm.get('city')?.touched && checkoutForm.get('city')?.invalid}"
                        >
                        <p class="error-message" *ngIf="checkoutForm.get('city')?.touched && checkoutForm.get('city')?.invalid"> 
                          {{'cityEmptyError' | translate}}
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <label>{{'postCodeLabel' | translate}}</label>
                        <input 
                        type="text" 
                        formControlName="postCode" 
                        class="form-control"
                        [ngClass]="{'has-error':checkoutForm.get('postCode')?.touched && checkoutForm.get('postCode')?.invalid}"
                        >
                        <p class="error-message" *ngIf="checkoutForm.get('postCode')?.touched && checkoutForm.get('postCode')?.invalid"> 
                            {{'postCodeEmptyError' | translate}}
                        </p>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-lg-6">
                        <label>{{'countryLabel' | translate}}</label>
                       <select 
                       class="form-select costom-select" 
                       (change)="onCountryChange($event)" 
                       formControlName="country"
                       [ngClass]="{'has-error':checkoutForm.get('country')?.touched && checkoutForm.get('country')?.invalid}"
                       >
                         <option value="">{{'selectCountry' | translate}}</option>
                         <option *ngFor="let country of countries" [value]='country.name'>
                            {{country.name}}
                         </option>
                       </select>
                       <p class="error-message" *ngIf="checkoutForm.get('country')?.touched && checkoutForm.get('country')?.invalid"> 
                        {{'countryEmptyError' | translate}}
                    </p>
                    </div>
                    <div class="col-lg-6">
                        <label>{{'regionLabel' | translate}}</label>
                        <select 
                        class="form-select costom-select" 
                        formControlName="region"
                        [ngClass]="{'has-error':checkoutForm.get('region')?.touched && checkoutForm.get('region')?.invalid}"
                        >
                            <option value="">{{'selectRegion' | translate}}</option>
                            <option *ngFor="let region of regions" [value]="region">
                               {{region}}
                            </option>
                          </select>
                          <p class="error-message" *ngIf="checkoutForm.get('country')?.touched && checkoutForm.get('country')?.invalid"> 
                            {{'regionEmptyError' | translate}}
                          </p>
                    </div>
                  <div class="col-lg-12 mt-2">
                    <label>{{ 'orderNote' | translate }}</label>
                    <textarea 
                        rows="3" 
                        class="form-control" 
                        formControlName="note" 
                        [placeholder]="'orderNotePlaceholder' | translate"
                    ></textarea>
                    </div>
                </div>
            </div>
            <div class="payment-methods">
                <h5 class="pb-3 mb-4">{{ 'paymentMethodsTitle' | translate }}</h5>
                <div class="card-method p-3 mb-3">
                    <div class="method-item d-flex flex-row mb-3" *ngFor="let method of paymentMethods">
                        <input 
                        class="form-check-input" 
                        formControlName="paymentMethod" 
                        type="radio"
                        [value]="method.name" 
                        name="paymentMethod"
                        [checked]="method.isActive"
                        >
                        <div class="method-title d-flex flex-column ms-3">
                            <label class="fw-5">{{method.name | translate}}</label>
                            <span>{{method.description | translate}}</span>
                        </div>
                    </div>
                    <p class="error-message" *ngIf="checkoutForm.get('paymentMethod')?.touched && checkoutForm.get('paymentMethod')?.invalid"> 
                        {{'paymentMethodEmptyError' | translate}}
                    </p>
                </div>
                
            </div>
            <div class="credit-card  p-3 mb-3" *ngIf="selectedPaymentMethod === 'PayPal' || selectedPaymentMethod === 'DushanbeCity'"
            > 
               <h4>{{ 'cardDataTitle' | translate }}</h4>
<div class="row">
  <div class="col-lg-8">
    <div class="cart-number-area mb-3">
      <label class="fw-5">{{ 'cardNumberLabel' | translate }}</label>
      <input 
        class="form-control" 
        autocomplete="cc-number"
        inputmode="numeric"
        formControlName="cardNumber" 
        mask="0000 0000 0000 0000"
        placeholder="1234 1234 1234 1234"
        type="text"
        name="paymentMethod"
        [ngClass]="{'has-error':checkoutForm.get('cardNumber')?.touched && checkoutForm.get('cardNumber')?.invalid}">
      <p class="error-message" *ngIf="checkoutForm.get('cardNumber')?.touched && checkoutForm.get('cardNumber')?.invalid"> 
        {{ 'cardNumberEmptyError' | translate }}
      </p>
    </div>

    <div class="country-area mt-3">
      <label>{{ 'countryLabel' | translate }}</label>
      <select 
        class="form-select costom-select" 
        formControlName="cardholderCountry"
        [ngClass]="{'has-error':checkoutForm.get('cardholderCountry')?.touched && checkoutForm.get('cardholderCountry')?.invalid}">
        <option value="">{{ 'selectCountry' | translate }}</option>
        <option *ngFor="let country of countries" [value]="country.name">
          {{ country.name }}
        </option>
      </select>
      <p class="error-message" *ngIf="checkoutForm.get('cardholderCountry')?.touched && checkoutForm.get('cardholderCountry')?.invalid"> 
        {{ 'countryEmptyError' | translate }}
      </p>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="expire-area mb-2">
      <label class="fw-5">{{ 'expireDateLabel' | translate }}</label>
      <input 
        class="form-control" 
        autocomplete="cc-number"
        inputmode="numeric"
        formControlName="expireDate" 
        mask="00 / 00"
        [dropSpecialCharacters]="false"
        placeholder="01 / 24"
        type="text"
        name="paymentMethod"
        [ngClass]="{'has-error':checkoutForm.get('expireDate')?.touched && checkoutForm.get('expireDate')?.invalid}">
      <p class="error-message" *ngIf="checkoutForm.get('expireDate')?.touched && checkoutForm.get('expireDate')?.invalid"> 
        {{ 'expireDateEmptyError' | translate }}
      </p>
    </div>

    <div class="cvc-area mt-3">
      <label class="fw-5">{{ 'cvcLabel' | translate }}</label>
      <input 
        class="form-control" 
        autocomplete="cc-number"
        inputmode="numeric"
        formControlName="cvc" 
        mask="000"
        placeholder="CVC"
        type="text"
        name="paymentMethod"
        [ngClass]="{'has-error':checkoutForm.get('cvc')?.touched && checkoutForm.get('cvc')?.invalid}">
      <p class="error-message" *ngIf="checkoutForm.get('cvc')?.touched && checkoutForm.get('cvc')?.invalid"> 
        {{ 'cvcEmptyError' | translate }}
      </p>
    </div>
  </div>
</div>
                                    
            </div>

<div class="shipping-methods">
  <h5 class="pb-3 mb-4">{{ 'shippingMethodsTitle' | translate }}</h5>
  <div class="card-method p-3 mb-3">
    <div 
      class="method-item d-flex flex-row justify-content-between mb-3" 
      *ngFor="let ship of shippingMethods"
    >                  
      <div class="shipping-title d-flex flex-row">
        <input 
          class="form-check-input"
          type="radio" 
          formControlName="shippingMethod" 
          [value]="ship.name"
          name="shippingMethod"
        >
        <label class="fw-5 ms-3">{{ ship.name | translate}}</label>
      </div>
      <div class="cost">{{ ship.price | currency:'USD' }}</div>
    </div>
    <p class="error-message" *ngIf="checkoutForm.get('shippingMethod')?.touched && checkoutForm.get('shippingMethod')?.invalid"> 
      {{ 'shippingMethodEmptyError' | translate }}
    </p>
  </div>
</div>
        </form>
        </div>
        <div class="col-lg-4">
 <div class="order-summary w-100 my-3 position-sticky">
    <h5>{{ 'orderSummary' | translate }}</h5>

    <div class="selected-products d-flex flex-row align-items-start justify-content-between" *ngFor="let orderProduct of orderProducts">
        <div class="product-img position-relative">
            <img src="{{orderProduct.image[3]}}" alt="product">
            <span class="position-absolute d-flex align-items-center justify-content-center">10</span>
        </div>
        <div class="product-caption ms-2">
            <label>{{ orderProduct.title }}</label>
        </div>
        <div class="total-price ms-3">{{ orderProduct.price | currency:'USD' }}</div>
    </div>

    <div class="total-price d-flex justify-content-between align-items-center">
        <label>{{ 'subtotal' | translate }}</label>
        <span>$1010010</span>
    </div>
    <div class="total-price d-flex justify-content-between align-items-center">
        <label>{{ 'shippingCosts' | translate }}</label>
        <span>$1010010</span>
    </div>
    <div class="total d-flex justify-content-between align-items-center mt-3 pt-2">
        <label>{{ 'total' | translate }}</label>
        <span>$1010010</span>
    </div>

    <div class="d-flex justify-content-center align-items-center pt-2">
        <input 
            class="form-check-input me-2 mt-0" 
            type="checkbox" 
            (change)="isTermsChecked = !isTermsChecked"
            [checked]="isTermsChecked"
        >
        <span>{{ 'agreeToTerms' | translate }} <a href="#">{{ 'termsConditions' | translate }}</a></span>
    </div>

    <div class="proceed-btn d-flex justify-content-center mt-3">
        <button 
            class="btn btn-primary w-100" 
            type="submit" 
            [disabled]="checkoutForm.invalid || !isTermsChecked" 
            (click)="submitCheckoutForm()"
        >
            {{ 'submit' | translate }}
        </button>
    </div>
</div>

        </div>
    </div>
</div>
