<section>
    <h2 class="text-center mt-3">Return Policy</h2>
        <p class="my-3">
        Studio Lorem Ipsum will accept returns of UNWORN MERCHANDISE within 14 days of receipt of your order.
            If 14 days have gone by since receipt of your order, 
        unfortunately we can’t offer you a refund or exchange.e.
        </p>
        <p class="mb-3">
            To be eligible for a return, your item must be unused and in the same condition that you received it. 
            It must also be in the original packaging.
        </p>
        
        <p>To complete your return, we require a receipt or proof of purchase.</p>
       
   
    <h5 class="mt-4">Refunds (If applicable)</h5>
    <p>
      Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
      <br>
      If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
    </p>
    <h5 class="mt-4">Late or missing refunds (if applicable)</h5>
    <ul>
        <li>When you fill out forms or fields through our Services.</li>
         <li>When you register for an account with our Service.</li>
          <li>When you create a subscription for our newsletter or Services</li>
           <li>When you provide responses to a survey.</li>
            <li>When you answer questions on a quiz.</li>
             <li>When you join or enroll in an event through our Services.</li>
    </ul>
</section>
