<section class="grid-section">
  <div class="top-section my-4">
    <div class="title">
      <h4 class="fw-bold">{{ 'blogComments' | translate }}</h4>
    </div>
  </div>

  <div class="bottom-section">
    <dx-data-grid
      [columnAutoWidth]="true"
      [columnHidingEnabled]="true"
      id="gridContainer"
      [dataSource]="postComments"
      [remoteOperations]="false"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [width]="'100%'"
      (onContentReady)="contentReady($event)"
    >
      <dxo-toolbar>
        <!-- Search Panel -->
        <dxi-item name="searchPanel" ></dxi-item>
      </dxo-toolbar>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
      ></dxo-pager>

      <dxi-column dataField="id" alignment="left" [caption]="'id' | translate"></dxi-column>

      <dxi-column
        dataField="author"
        [caption]="'author' | translate"
        alignment="left"
      ></dxi-column>

      <dxi-column
        dataField="message"
        [caption]="'message' | translate"
        dataType="string"
        alignment="left"
        [width]="150"
      ></dxi-column>

     <dxi-column
        dataField="isActive"
        [caption]="'status' | translate"
        dataType="boolean"
        alignment="left"
        cellTemplate="statusCell">
    </dxi-column>

<!-- Use the same syntax as imageCellTemplate -->
<div *dxTemplate="let cellData of 'statusCell'">
  <span
    [ngClass]="{
      'active-status': cellData.value,
      'inactive-status': !cellData.value
    }"
  >
    {{ cellData.value ? 'Active' : 'Inactive' }}
  </span>
</div>


      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"  
      [placeholder]="'search' | translate"></dxo-search-panel>
      <dxi-column
        *ngIf="canEditOrDelete"
        caption="{{'Actions' | translate}}"
        [width]="120"
        [allowSorting]="false"
        [allowFiltering]="false"
        cellTemplate="actionTemplate">
      </dxi-column>

     <div *dxTemplate="let data of 'actionTemplate'" class="d-flex gap-2">
      <button
        *ngIf="canUpdateBlogComment"
        class="btn btn-sm btn-outline-primary"
        (click)="editRow(data.data.id)"
        >
        <i class="dx-icon-edit"></i>
      </button>
      <button
        *ngIf="canDeleteBlogComment"
        class="btn btn-sm btn-outline-danger"
        (click)="deleteDialog(data.data.id)"      
       >
        <i class="dx-icon-trash"></i>
      </button>
    </div> 
    </dx-data-grid>
  </div>
</section>
