
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasAddedProducts" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
<div class="title-wrapper position-relative">
    <h5 class="offcanvas-title fw-7" id="offcanvasRightLabel">{{'myCart' | translate}}</h5>
    <span class="position-absolute d-flex align-items-center justify-content-center ">2</span>
</div> 
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body px-3">
     <div class="selected-product d-flex flex-column mb-3" *ngFor="let product of selectedProducts">
        <div class="top-items d-flex align-top justify-content-between">
            <img src="../../../../../../../assets/imagis/product3.jpg" alt="product">
            <h6 class="mx-2">{{product.title}}</h6>
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="bottom-items d-flex mt-1 justify-content-around mb-2">
          <label><span>{{'quantity' | translate}}:</span><input type="number" min="1" value="1" class="px-2"></label>
          <span>{{product.price | currency:'USD'}}</span>
        </div>
     </div>
  </div>
  <div class="bottom-content p-3">
    <div class="total-price d-flex justify-content-between my-2">
        <span>{{'subTotal' | translate}}</span>
        <label>{{4545454 | currency:'USD'}}</label>
    </div>
   <div class="navigate-btns d-flex flex-row justify-content-between align-items-center">
  <div>
    <button class="product-btn btn btn-sm">
      {{ 'clearCart' | translate }}
    </button>
  </div>
  <div>
    <a [routerLink]="['/checkout/cart-view']" (click)="inactivateSidebar()" class="product-btn btn btn-sm">
      {{ 'viewCart' | translate }}
    </a>
    <a [routerLink]="['/checkout/checkout']" (click)="inactivateSidebar()" class="product-btn btn btn-sm ms-2">
      {{ 'checkout' | translate }}
    </a>
  </div>  
</div>

  </div>
 
</div>