<div class="login-page">
    <div class="auth-wrapper d-flex vh-100 w-100 align-middle">
        <div class="auth-left h-100 position-relative"></div>
        
    <a 
        href="#" 
        class="home-link p-2 rounded-pill position-absolute" 
        data-bs-toggle="tooltip" 
        data-bs-title="Back to Home"><i class="fa-solid fa-arrow-left text-dark"></i>
    </a>
   
  
        <div class="auth-right vh-100 position-relative">   
            <div class="bg-login h-100 w-100 position-absolute"></div>
            <div class="bg-sm-login h-50 w-100 position-relative d-none"></div>
            <div class="bg-header-contaner position-relative d-none">
                <h1 translate>welcome</h1>
                <p translate>getAccess</p>
            </div>
                <div class="auth-container min-vh-100 d-flex justify-content-center align-items-center flex-column">
                    <div class="auth-title-container d-flex justify-content-between flex-row mb-2 mt-3 align-items-center w-100">

                        <div class="header-title fs-3 bg-secondary text-light pe-1 rounded-1"><i class="fa-solid fa-s bg-primary p-2 rounded-start-1"></i><span class="ps-1">SwiftCart</span></div>
                        <div class="drop-down">
                           <app-lang-dropdown></app-lang-dropdown>
                        </div>
                        
                        
                    </div>
                    <div class="auth-content position-relative w-100">
                        <h1 class="auth-welcome fw-bold fs-2 text-dark" translate>welcome</h1>
                        <router-outlet></router-outlet>
                    </div>
                </div>                 
                  
        </div>
</div>
</div>

