<div class="login-page">
    <h1 class="fw-bold fs-4 text-dark mb-2 mt-3" translate>login</h1>
    <p translate>accountDetail</p>
    
    <div class="container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="inp-field mb-4 position-relative">
                <label for="email" class="fs-6" translate>email</label>
                <input 
                type="email" 
                id='email' 
                class="login-input form-control" 
                placeholder="{{ 'emailPlaceholder' | translate }}"
                formControlName="email"
                [ngClass]="{'has-error':loginForm.get('email')?.touched && loginForm.get('email')?.invalid}"
                />
                <span class="inp-icon"><i class="fa-regular fa-envelope"></i></span>
                <p class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                    <span class="error-message" *ngIf="loginForm.get('email')?.errors?.['required']">
                        {{ 'emptyInputError' | translate }}
                    </span>
                    <span class="error-message" *ngIf="loginForm.get('email')?.errors?.['email']">
                        {{ 'validEmailError' | translate }}
                    </span>
                </p>  
            </div> 
           
            <div class="inp-field mb-4 position-relative">
                <label for="password" class="fs-6" translate>password</label>
                <input 
                [type]="passwordType" 
                id="password" 
                class="login-input form-control" 
                placeholder="{{ 'passwordPlaceholder' | translate }}"
                formControlName="password"
                [ngClass]="{'has-error':loginForm.get('password')?.touched && loginForm.get('password')?.invalid}"
                />
                <span class="inp-icon"><i class="fa-regular fa-user"></i></span>
                <span class="eye-icon position-absolute" 
                    (click)="passwordType = passwordType === 'password' ? 'text' : 'password'">
                    <i [class]="passwordType === 'password' ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i>
                </span>
                <p class="error-message" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                    <span class="error-message" *ngIf="loginForm.get('password')?.errors?.['required']">
                        {{ 'emptyInputError' | translate }}
                    </span>
                    <span *ngIf="loginForm.get('password')?.errors?.['minlength'] && 
                    loginForm.get('password')?.errors?.['minlength']?.['requiredLength']">
                        {{ 'passwordContain' | translate }}
                        {{ loginForm.get('password')?.errors?.['minlength']?.['requiredLength'] }}
                        {{ 'characters' | translate }}. 
                        {{ 'has' | translate }} {{ loginForm.get('password')?.errors?.['minlength']?.['actualLength'] }}
                    </span>
                </p>
            </div>

            <div class="mb-4 login-checkbox align-items-center">
                <div class="d-inline">
                    <input type="checkbox" class="form-check-input me-2"> 
                    <span translate>rememberme</span>
                </div>
                <a class="float-end" [routerLink]="['/auth/reset']" translate>forgotPassword?</a>
            </div>

            <div class="button-wrapper position-relative">
                <button class="btn btn-primary w-100" [disabled]="loginForm.invalid">
                    {{ 'signIn' | translate }}
                </button>
                <div class="back-drop w-100 h-100 position-absolute" *ngIf="showBackDrop">
                    <mat-spinner [diameter]="20"></mat-spinner>   
                </div>
            </div>
        </form>

        <p class="d-block text-center mt-3" translate>or</p>

        <div class="sign-in-btn mt-3 d-flex flex-row justify-content-around align-items-center">
            <!-- <button class="google-link me-2" id="google-button" (click)="signInWithGoogle()">
                <img src="../../../../assets/imagis/google.png">
                <span translate>signGoogle</span>
            </button> -->

            <div class="google-button">
                <asl-google-signin-button #googleButton class="google-link" size="small" (click)="signInWithGoogle()" width="240"></asl-google-signin-button>
                <span class="button-text ms-3" translate>signGoogle</span>
              </div>
              
            
            <button class="facebook-link" role="button" id="facebook-button" (click)="signInWithFB()">
                <img src="../../../../assets/imagis/facebook.png">
                <span translate>signFacebook</span>
            </button>
        </div>

        <div class="d-flex justify-content-center align-items-center mt-5 mb-4">
            <p class="mb-0" translate>haveAccount?</p>
            <a class="ms-2" [routerLink]="['/auth/registration']" translate>signUp</a>
        </div>
    </div>
</div>
