<header class="d-flex flex-row justify-content-between align-items-center py-3 px-4">
    <div class="left-tems d-flex align-items-center flex-row">
      <div class="toggle-icon me-3 d-none" (click)="sidebarToggle()"><i class="fa-solid fa-bars "></i></div>
      <div class="logo-title d-flex align-items-center d-none">
         <img src="../../../../../assets/imagis/sidebar-logo-mini.svg" alt="logo">
            <h3 class="logo-name">SwiftCart</h3>
      </div>
        <a type="button" class="btn btn-sm">
           <i class="fa-solid fa-store me-2"></i>
           <span>{{ 'storefront' | translate }}</span>
        </a>
    </div>
    <div class="right-items">
     <ul class="d-flex align-items-center flex-row mb-0">
        <li><app-lang-dropdown></app-lang-dropdown></li>
        <li class="ms-4">
            <button class="profile-dropdown position-relative" mat-button [matMenuTriggerFor]="menu">
                <span class="dropdown-img d-flex align-items-center justify-content-center"
                >D</span>
                <span class="dropdown-angle position-absolute d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-angle-down"></i>
                </span>
            </button>
        </li>
    </ul>
    </div> 
<mat-menu #menu="matMenu">
  <div class="menu-header px-3 py-2 d-flex align-items-center" style="gap: 0.75rem;">
    <div class="profile d-flex align-items-center justify-content-center">D</div>
    <div class="profile-info d-flex flex-column align-items-start">
      <div class="fw-bold">Demo Admin</div>
      <small class="text-muted small">toshmatovuktam2000gmail.com</small>
    </div>
  </div>

  <a mat-menu-item>{{'sidebarSettings' | translate}}</a>
  <a mat-menu-item>{{'logout' | translate}}</a>
</mat-menu>

</header>
