<div class="panel-inner mb-4">
    <div class="panel-header py-3 px-3  d-flex justify-content-start align-items-center">
        <h4>{{'myAddresses' | translate}}</h4>
    </div>
    <div class="panel-body p-3">
        <div class="address" *ngIf="isAddressCardActive">
            <div class="address-card-wrapper d-flex flex-wrap gap-3">
                <div class="address-card p-3 d-flex flex-column justify-content-between">
                    <div class="top-items d-flex flex-column">
                        <h5>Demo Adimin</h5>
                        <span>Savar</span>
                        <span>Dhakar, Dhakar 1344</span>
                        <span>Bangladesh</span>
                        <span>Savar</span>
                    </div>
                    <div class="bottom-items">
                        <button (click)="toggleAddress()"><i class="fa-solid fa-pen-to-square"></i><span>Edit</span></button>
                        <button (click)="deleteAddress()"><i class="fa-solid fa-trash"></i><span>Delete</span></button>
                    </div>
                </div>
                
                <div class="address-card p-3 d-flex flex-column justify-content-between">
                    <div class="top-items d-flex flex-column">
                        <h5>Demo Adimin</h5>
                        <span>Savar</span>
                        <span>Dhakar, Dhakar 1344</span>
                        <span>Bangladesh</span>
                        <span>Savar</span>
                    </div>
                    <div class="bottom-items">
                        <button><i class="fa-solid fa-pen-to-square"></i><span>{{'edit' | translate}}</span></button>
                        <button><i class="fa-solid fa-trash"></i><span>{{'delete' | translate}}</span></button>
                    </div>
                </div>
                <div class="address-card p-3 d-flex flex-column justify-content-between">
                    <div class="top-items d-flex flex-column">
                        <h5>Demo Adimin</h5>
                        <span>Savar</span>
                        <span>Dhakar, Dhakar 1344</span>
                        <span>Bangladesh</span>
                        <span>Savar</span>
                    </div>
                    <div class="bottom-items">
                        <button><i class="fa-solid fa-pen-to-square"></i><span>{{'edit' | translate}}</span></button>
                        <button><i class="fa-solid fa-trash"></i><span>{{'delete' | translate}}</span></button>
                    </div>
                </div>
                <div class="address-card p-3 d-flex flex-column justify-content-between">
                    <div class="top-items d-flex flex-column">
                        <h5>Demo Adimin</h5>
                        <span>Savar</span>
                        <span>Dhakar, Dhakar 1344</span>
                        <span>Bangladesh</span>
                        <span>Savar</span>
                    </div>
                    <div class="bottom-items">
                        <button><i class="fa-solid fa-pen-to-square"></i><span>{{'edit' | translate}}</span></button>
                        <button><i class="fa-solid fa-trash"></i><span>{{'delete' | translate}}</span></button>
                    </div>
                </div>
            </div>  
            <div class="add-address mt-3"><button class="btn btn-md" (click)="toggleAddress()">{{'addAddress' | translate}}</button></div>
        </div>
        <div class="change-edit-address" *ngIf="isEditAddressActive">
            <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                <div class="address-details">
                    <h5 class="pb-3 mb-4">{{'myAddresses' | translate}}</h5>
                    <div class="row my-2">
                        <div class="col-lg-6">
                            <label>{{'firstNameLabel' | translate}}</label>
                            <input 
                            type="text" 
                            formControlName="firstName" 
                            class="form-control"
                            [ngClass]="{'has-error':addressForm.get('firstName')?.touched && addressForm.get('firstName')?.invalid}"
                            >                
                           <p class="error-message" *ngIf="addressForm.get('firstName')?.touched && addressForm.get('firstName')?.invalid">   
                                {{'emailAddressEmptyError' | translate}}
                            </p> 
                        </div>
                        <div class="col-lg-6">
                            <label>{{'lastNameLabel' | translate}}</label>
                            <input 
                            type="text" 
                            formControlName="lastName"  
                            class="form-control"
                            [ngClass]="{'has-error':addressForm.get('lastName')?.touched && addressForm.get('lastName')?.invalid}"
                            >
                            <p class="error-message" *ngIf="addressForm.get('lastName')?.touched && addressForm.get('lastName')?.invalid">                  
                                    {{'lastNameEmptyError' | translate}}
                             </p>
                        </div>
                    </div>  
                   <div class="row my-2">
  <label>{{ 'streetAddress' | translate }}</label>
  <div class="col-lg-12">
    <input 
      type="text" 
      formControlName="address1" 
      class="form-control" 
      [placeholder]="'addressLine1' | translate"
      [ngClass]="{'has-error': addressForm.get('address1')?.touched && addressForm.get('address1')?.invalid}"
    >
    <p class="error-message" *ngIf="addressForm.get('address1')?.touched && addressForm.get('address1')?.invalid"> 
      {{ 'EmptyError' | translate }}
    </p>
  </div>
  <div class="col-lg-12 mt-3">
    <input 
      type="text" 
      formControlName="address2" 
      class="form-control" 
      [placeholder]="'addressLine2' | translate"
    >
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-6">
    <label>{{ 'cityLabel' | translate }}</label>
    <input 
      type="text" 
      formControlName="city" 
      class="form-control"
      [ngClass]="{'has-error': addressForm.get('city')?.touched && addressForm.get('city')?.invalid}"
    >
    <p class="error-message" *ngIf="addressForm.get('city')?.touched && addressForm.get('city')?.invalid"> 
      {{ 'cityEmptyError' | translate }}
    </p>
  </div>
  <div class="col-lg-6">
    <label>{{ 'postCodeLabel' | translate }}</label>
    <input 
      type="text" 
      formControlName="postCode" 
      class="form-control"
      [ngClass]="{'has-error': addressForm.get('postCode')?.touched && addressForm.get('postCode')?.invalid}"
    >
    <p class="error-message" *ngIf="addressForm.get('postCode')?.touched && addressForm.get('postCode')?.invalid"> 
      {{ 'postCodeEmptyError' | translate }}
    </p>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-6">
    <label>{{ 'countryLabel' | translate }}</label>
    <select 
      class="form-select costom-select" 
      (change)="onCountryChange($event)" 
      formControlName="country"
      [ngClass]="{'has-error': addressForm.get('country')?.touched && addressForm.get('country')?.invalid}"
    >
      <option value="">{{ 'selectCountry' | translate }}</option>
      <option *ngFor="let country of countries" [value]="country.name">
        {{ country.name }}
      </option>
    </select>
    <p class="error-message" *ngIf="addressForm.get('country')?.touched && addressForm.get('country')?.invalid"> 
      {{ 'countryEmptyError' | translate }}
    </p>
  </div>

  <div class="col-lg-6">
    <label>{{ 'regionLabel' | translate }}</label>
    <select 
      class="form-select costom-select" 
      formControlName="region"
      [ngClass]="{'has-error': addressForm.get('region')?.touched && addressForm.get('region')?.invalid}"
    >
      <option value="">{{ 'selectRegion' | translate }}</option>
      <option *ngFor="let region of regions" [value]="region">
        {{ region }}
      </option>
    </select>
    <p class="error-message" *ngIf="addressForm.get('region')?.touched && addressForm.get('region')?.invalid"> 
      {{ 'regionEmptyError' | translate }}
    </p>
  </div>
</div>

<div class="buttons d-flex column-gap-3 mt-4">
  <button class="btn" (click)="toggleAddress()">{{ 'cancel' | translate }}</button>
  <button class="btn btn-primary" type="submit">{{ 'saveChanges' | translate }}</button>
</div>

                </div>
            </form>
           
        </div>
       
    </div>
</div>
