<section class="posts">
    <div class="title d-flex justify-content-between align-items-center flex-row">
        <h4 class="mb-3 pb-2">{{'recentPosts' | translate}}</h4>
        <a [routerLink]="['/blog']">{{'viewAll' | translate}}</a>
    </div>
    <div class="post-swiper-wrapper mt-3">
        <swiper
        [slidesPerView]="1"
        [spaceBetween]="15"
        [pagination]="{ clickable: true }"
        [breakpoints]="breakpoints"
        class="product-swiper"
>
        <ng-template swiperSlide *ngFor="let post of posts">
           <app-blog-page-card [posts]="post"></app-blog-page-card>
        </ng-template>
      </swiper>
    </div>
</section>
