@import'../../../../../../../assets/sass/variables.scss';
@import'../../../../../../../assets/sass/mixins.scss';
.title{
      @include blogPostTitleStyle();
      h4{
        font-weight: 600 !important;
      }
    a{
        white-space: nowrap;
        color: $color-gray;
    }
}
.product-swiper{
    padding-bottom: 45px;
}