<section class="grid-section">
  <div class="top-section my-4">
    <div class="title">
      <h4 class="fw-bold">{{ 'sidebarSales' | translate }}</h4>
    </div>
  </div>
  <div class="bottom-section">
    <dx-data-grid
      #grid
      [columnAutoWidth]="true"
      [columnHidingEnabled]="true"
      id="gridContainer"
      [dataSource]="orders"
      [remoteOperations]="false"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [width]="'100%'"
      (onContentReady)="contentReady($event)"
      (onRowClick)="onRowClick($event)"
    >
                      <!-- ✅ Editing config -->
      <dxo-editing
        mode="row"
        [allowDeleting]="true"
        [useIcons]="true"
      ></dxo-editing>
      <dxo-toolbar>

        <!-- Search Panel -->
        <dxi-item name="searchPanel"></dxi-item>
      </dxo-toolbar>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
      ></dxo-pager>

      <dxi-column dataField="id" alignment="left" caption="{{ 'id' | translate }}">
      </dxi-column>

      <dxi-column dataField="customerName" dataType="string" caption="{{ 'customerName' | translate }}">
      </dxi-column>

      <dxi-column dataField="email" dataType="string" caption="{{ 'customerEmail' | translate }}">
      </dxi-column>

       <dxi-column dataField="status" dataType="string" caption="{{ 'status' | translate }}" cellTemplate="status">
      </dxi-column>

  <div *dxTemplate="let cellData of 'status'">
  <span
    [ngClass]="getStatusClass(cellData.data.status)"
    class="status-badge"
  >
   {{cellData.data.status}}
  </span>
</div>

        <dxi-column dataField="total" dataType="string" caption="{{ 'total' | translate }}">
      </dxi-column>

      <dxi-column dataField="orderDate" dataType="date" caption="{{ 'created' | translate}}">
      </dxi-column>

      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"  [placeholder]="'search' | translate"></dxo-search-panel>

      <div *dxTemplate="let d of 'discountCellTemplate'">
        <div class="chart-cell">
          <dx-bullet
            [showTarget]="false"
            [showZeroLevel]="true"
            [startScaleValue]="0"
            [endScaleValue]="100"
            [value]="d.value * 100"
          >
            <dxo-size [width]="150" [height]="35"></dxo-size>
            <dxo-margin [top]="5" [bottom]="0" [left]="5"></dxo-margin>
          </dx-bullet>
        </div>
      </div>
    </dx-data-grid>
  </div>
</section>

