  @import '../../../assets/sass/variables.scss';
  
  .active-sidebar{
    display: inline-block !important;
    transition: $transition-150;
    z-index: 10;
  }

  .page-content{
    background-color: $color-gray-lite;
    
  }

  .main-backdrop{
    background-color: rgb(129 133 131 / 65%);
    animation: fadeIn 0.1s ease-in ;
    top: 0;
    bottom: 0;
  }

.breadcrumb-home i {
  color: $color-gray-dark;;
  font-size: 16px;
}

.breadcrumb{
  margin-top: 10px;
  margin-right: 6px;
   float: right;
   .fa-angle-right{
     font-size: 13px !important;
  }
}

.home-icon:hover {
  color: #007bff;
}

  @keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

   @media screen and (max-width: 992px)  {
        .open-sidebar{
           position: relative;
           left: 240px;
    }
      .page-content{
        margin-top: 72px;
     }

   }
