<section class="right-column mt-4 ">
    <h5 class="fw-bold mb-3">{{ mainTitle | translate}}</h5>
    <div class="row bg-white  rounded-2">
        <div class="col-lg-4">
            <div class="left-info mt-3">
                <div class="header px-3 py-2 fw-bold">
                    {{'permissionInfo' | translate}}
                </div>
                <div class="main ">
                    <div class="panel py-2 position-relative ms-2"><span class="ms-2 fw-bold">{{'general' | translate}}</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
             <div class="box px-3 shadow-none ">
                        <div class="box-header">
                            <a class="fw-bold active-title-underline position-relative">{{ 'general' | translate }}</a>  
                        </div>
                        <div class="box-body">
                            <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                            <div class="form-name mb-2">
                                  <label for="name" class="text-left">
                                          {{ 'name' | translate }}
                                    <span class="text-red">*</span>
                                  </label>
                                <input 
                                    type="text" 
                                    id="name" 
                                    class="form-control"
                                    formControlName="name"
                                    [ngClass]="{'has-error': roleForm.get('name')?.touched && roleForm.get('name')?.invalid}"
                                >
                                 <p class="error-message" *ngIf="roleForm.get('name')?.touched && roleForm.get('name')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                            <div class="form-group mb-2">
                                <label for="meta-description" class="text-left">
                                    {{ 'description' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <textarea 
                                    class="meta-description form-control w-100" 
                                    style="height: 130px;" 
                                    id="description"
                                    formControlName="description"
                                    [ngClass]="{'has-error': roleForm.get('description')?.touched && roleForm.get('description')?.invalid}"
                                ></textarea>
                                <p class="error-message" *ngIf="roleForm.get('description')?.touched && roleForm.get('description')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                            <div class="form-permission mb-2">
                                <label class="text-left">
                                        {{ 'permissions' | translate }}
                                        <span class="text-red">*</span>
                                  </label>
                             <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                             <input 
                                             class="form-check-input me-2"
                                             type="checkbox" 
                                             (change)="selectAll($event)"
                                             id="checkDefault">
                                            {{ 'selectAll' | translate }}
                                        </th>
                                        <th>{{ 'name' | translate }}</th>
                                        <th>{{ 'code' | translate }}</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                    <tr *ngFor="let permission of permissions" class="border-top-0">
                                        <td>
                                            <input 
                                             class="form-check-input"
                                             (change)="selectboxOnChange($event, permission)"
                                             type="checkbox" 
                                             [checked]="isSelected(permission)"
                                             id="checkDefault">
                                            </td>
                                        <td>{{permission.name}}</td>
                                        <td>{{permission.code}}</td>
                                    </tr>
                                    </tbody>
                            </table>
                            </div>                            
                            </div>
                                <div class="action-btns mt-3">
                                   <button class="btn btn-primary btn-md" type="submit">{{'save' | translate}}</button>
                                </div>
                            </form>
                        </div>
                 </div>
        </div>      
    </div>                  
</section>



