<div class="bottom-nav d-none pt-2">
  <div class="bottom-nav-wrapper w-50">
    <div class="nav-lists d-flex flex-row align-items-center justify-content-between">

      <div class="nav-items">
        <i class="fa-solid fa-house"></i>
        <small>{{ 'home' | translate }}</small>
      </div>

      <div class="nav-items">
        <i class="fa-solid fa-list"></i>
        <small>{{ 'categories' | translate }}</small>
      </div>

      <div class="nav-items">
        <div class="cart-link">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="badge">0</span>
        </div>
        <small>{{ 'cart' | translate }}</small>
      </div>

      <div class="nav-items">
        <i class="fa-regular fa-user"></i>
        <small>{{ 'accountText' | translate }}</small>
      </div>

    </div>
  </div>
</div>
