<section>
    <h2 class="text-center mt-3">Terms of Service</h2>
        <p class="my-3">
        This website is operated by a.season. Throughout the site, the terms 
        “we”, “us” and “our” refer to a.season. a.season offers this website, including all information,
        tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, 
        policies and notices stated here.
        <br>
        By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site, 
        including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.
    <h5 class="mt-4">Online Store Terms</h5>
    <p>
    By agreeing to these Terms of Service, you represent that 
    you are at least the age of majority in your state or province of residence, or that you are the age of majority
        in your state or province of residence and
        you have given us your consent to allow any of your minor dependents to use this site.
    </p>
    <h5 class="mt-4">General conditions</h5>
    <P>
   We reserve the right to refuse service to anyone for any reason at any time. <br>
   You understand that your content (not including credit card information), 
   may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks.

 
    </P>
      <h5 class="mt-4">Where can I get some?</h5>
    <P class="mb-3">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, 
            by injected humour, or randomised words which don't look even slightly believable. 
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat 
            predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 
            200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
            The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </P>

    <h5 class="mt-4">Licence</h5>
    <span>You must not:</span>
        <ul>
        <li>Republish material from Website Name</li>
        <li>When you create a subscription for our newsletter or Services</li>
        <li>Sell, rent or sub-license material from Website Name</li>
        <li>Reproduce, duplicate or copy material from Website Name</li>
        <li>Redistribute content from Website Name</li>
    </ul>
</section>
