<section class="right-column mt-4">
    <h5 class="fw-bold mb-3">{{title | translate}}</h5>
    <div class="row bg-white rounded-2">
        <div class="col-lg-4">
            <div class="left-info mt-3">
                <div class="header px-3 py-2 fw-bold">
                    {{'brandInfo' | translate}}
                </div>
                <div class="main ">
                    <div class="panel py-2 position-relative ms-2"><span class="ms-2 fw-bold">{{'general' | translate}}</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
             <div class="box px-3 shadow-none">
                        <div class="box-header">
                            <a class="fw-bold active-title-underline position-relative">{{ 'general' | translate }}</a>  
                        </div>
                        <div class="box-body">
                            <form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
                            <div class="form-group"> 
                                <div class="form-title">
                                  <label for="title" class="text-left">
                                          {{ 'title' | translate }}
                                    <span class="text-red">*</span>
                                  </label>
                                <input 
                                    type="text" 
                                    id="title" 
                                    class="form-control"
                                    formControlName="title"
                                    [ngClass]="{'has-error': brandForm.get('title')?.touched && brandForm.get('title')?.invalid}"
                                >
                                 <p class="error-message" *ngIf="brandForm.get('title')?.touched && brandForm.get('title')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                                </div>              
                            
                                 <div class="form-group mt-3">
                                <label for="meta-description" class="text-left">
                                    {{ 'description' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <textarea 
                                    class="meta-description form-control w-100" 
                                    style="height: 130px;" 
                                    id="description"
                                    formControlName="description"
                                    [ngClass]="{'has-error': brandForm.get('description')?.touched && brandForm.get('description')?.invalid}"
                                ></textarea>
                                <p class="error-message" *ngIf="brandForm.get('description')?.touched && brandForm.get('description')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>

                                <div class="form-status mt-3">
                                    <label for="title" class="text-left d-block">
                                            {{ 'status' | translate }}
                                    </label>
                                    <input class="form-check-input me-3" type="checkbox" value="" id="checkDefault" formControlName="status">
                                     <label class="form-check-label" for="checkDefault">
                                             {{ 'enableCategory' | translate }}                              
                                     </label>
                                </div>

                                <section class="logo-section mt-3">
                                    <label class="fw-bold mb-2 d-block">
                                        Logo
                                        <span class="text-red">*</span>
                                    </label>
                                  <button type="button" class="btn btn-secondary btn-sm mb-3" (click)="uploadImage()"><span class="me-2"><i class="fa-regular fa-folder-open"></i></span>Browse</button>
                                  <div class="image-wrapper m-0 d-flex align-items-center justify-content-center position-relative">
                                     <img [src]="imageLink || placeholderImage" alt="image"  (load)="onImageLoad(imageLink, true)">
                                     <span class="position-absolute"  (click)="clearImageArea(true)" *ngIf="imgLoaded"><i class="fa-solid fa-xmark"></i></span>
                                  </div>
                                 <p class="error-message" *ngIf="brandForm.get('logoImage')?.invalid && brandForm.get('logoImage')?.touched">
                                     {{ 'emptyInputError' | translate }}
                                 </p>
                                </section>
                            </div>
                                <div class="action-btns mt-3">
                                   <button class="btn btn-primary btn-md" type="submit">{{'save' | translate}}</button>
                                </div>
                            </form>
                        </div>
                 </div>
        </div>      
    </div>                  
</section>
