@import '../../../../assets/sass/variables.scss';
@import '../../../../assets/sass/mixins.scss';



.reset-input{
    @include input();  
}

.button-wrapper{
    .back-drop{
        @include backDropBtnStyles();
    }
  
}

.inp-field{
    .inp-icon{
        @include iconStyles(30px);
    }
    .error-message{
        color: $error-text-message !important;
    }   
}

.eye-icon{
    top: 30px;
    right: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #6c757d
}

@media screen and (max-width:692px){
    
    .reset-input{
       @include reponsiveInput();
    }

}