<h1 class="fw-bold fs-4 text-dark mb-2" translate>resetPassword</h1>
<p class="text-secondary" translate>resetPasswordField</p>
<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="inp-field mb-4 position-relative">
        <label for="email" class="fs-6" translate>email</label>
        <input 
        type="text" 
        id="email" 
        class="reset-input form-control" 
        [placeholder]="'emailPlaceholder' | translate"
        formControlName="email"
        [ngClass]="{'has-error': resetForm.get('email')?.touched && resetForm.get('email')?.invalid}"
        />
        <span class="inp-icon"><i class="fa-regular fa-envelope"></i></span>
        <p class="error-message" *ngIf="resetForm.get('email')?.touched && resetForm.get('email')?.invalid">
            <span class="error-message" *ngIf="resetForm.get('email')?.errors?.['required']" translate>{{ 'emptyInputError' | translate }}</span>
            <span class="error-message" *ngIf="resetForm.get('email')?.errors?.['email']" translate>{{ 'validEmailError' | translate }}</span>
        </p>  
    </div>
   
    <div class="inp-field mb-4 position-relative">
        <label for="password" class="fs-6" translate>password</label>
        <input 
        [type]="passwordType" 
        id="password" 
        class="reset-input form-control" 
        [placeholder]="'newPasswordPlaceholder' | translate"
        formControlName="newpassword"
        [ngClass]="{'has-error': resetForm.get('newpassword')?.touched && resetForm.get('newpassword')?.invalid}"
        />
        <span class="inp-icon"><i class="fa-regular fa-user"></i></span>
        <span class="eye-icon position-absolute" 
        (click)="passwordType = passwordType === 'password' ? 'text' : 'password'"><i [class]=" passwordType === 'password' ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i>
       </span>

       <p class="error-message" *ngIf="resetForm.get('newpassword')?.touched && resetForm.get('newpassword')?.invalid">
        <span 
        class="error-message" 
        *ngIf="resetForm.get('newpassword')?.errors?.['required']" translate>{{ 'emptyInputError' | translate }}</span>
        <span *ngIf="resetForm.get('newpassword')?.errors?.['minlength'] && 
        resetForm.get('newpassword')?.errors?.['minlength']?.['requiredLength']">
            {{ 'passwordContain' | translate }}
            {{ resetForm.get('newpassword')?.errors?.['minlength']?.['requiredLength'] }}
            {{ 'characters' | translate }}. 
            {{ 'has' | translate }} {{ resetForm.get('newpassword')?.errors?.['minlength']?.['actualLength'] }}
        </span>
    </p>
    </div>

    <div class="button-wrapper position-relative">
        <button class="btn btn-primary w-100" [disabled]="resetForm.invalid" translate>resetPassword</button>
        <div class="back-drop w-100 h-100 position-absolute" *ngIf="showBackDrop">
            <mat-spinner [diameter]="20"></mat-spinner>   
        </div>
    </div>
  
    <a class="text-primary cursor-pointer text-center d-block mt-3" [routerLink]="['/auth/login']" translate>backLogin</a>
</form>
