<div class="blog-categories">
  <h4 class="blog-title mb-4 pb-3">{{ 'blogCategories' | translate }}</h4>
  <ul class="category-list">
    <li class="post-item"><a href="#">{{ 'categoryTestimonials' | translate }}</a><span class="count">4</span></li>
    <li class="post-item"><a href="#">{{ 'categoryTrends' | translate }}</a><span class="count">4</span></li>
    <li class="post-item"><a href="#">{{ 'categoryPromotions' | translate }}</a><span class="count">4</span></li>
    <li class="post-item"><a href="#">{{ 'categoryUpdates' | translate }}</a><span class="count">4</span></li>
    <li class="post-item"><a href="#">{{ 'categoryGuides' | translate }}</a><span class="count">4</span></li>
    <li class="post-item"><a href="#">{{ 'categoryTips' | translate }}</a><span class="count">4</span></li>
    <li class="post-item"><a href="#">{{ 'categoryNews' | translate }}</a><span class="count">4</span></li>
  </ul>
</div>

