<section class="grid-section">
  <div class="top-section my-4">
    <div class="title">
      <h4 class="fw-bold">{{ 'sidebarTags' | translate }}</h4>
    </div>
    <div class="create-tag-btn d-flex justify-content-end">
      <a class="btn btn-primary" [routerLink]="'/product/tag/create'">
        {{ 'createTag' | translate }}
      </a>
    </div>
  </div>
  <div class="bottom-section">
    <dx-data-grid
      #grid
      [columnAutoWidth]="true"
      [columnHidingEnabled]="true"
      id="gridContainer"
      [dataSource]="tags"
      [remoteOperations]="false"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [width]="'100%'"
      (onContentReady)="contentReady($event)"
      (onRowClick)="onRowClick($event)"
    >
      <dxo-toolbar>
        <!-- Delete Button -->
        <dxi-item
          location="before"
          widget="dxButton"
          [options]="{
             text: ( 'delete' | translate ),
            icon: 'trash',
            type: 'danger',
            elementAttr: { class: 'custom-delete-btn' },
            onClick: deleteSelected
          }"
        ></dxi-item>

        <!-- Search Panel -->
        <dxi-item name="searchPanel"></dxi-item>
      </dxo-toolbar>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
      ></dxo-pager>

      <dxo-selection
        mode="multiple"
        [showCheckBoxesMode]="'always'"
        [allowSelectAll]="true"
      ></dxo-selection>

      <dxi-column dataField="id" alignment="left" caption="{{ 'id' | translate }}">
      </dxi-column>

       <dxi-column dataField="name" alignment="left" caption="{{ 'name' | translate }}">
      </dxi-column>

      <dxi-column dataField="date" dataType="date" caption="{{ 'created' | translate }}">
      </dxi-column>

      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"  [placeholder]="'search' | translate"></dxo-search-panel>

      <div *dxTemplate="let d of 'discountCellTemplate'">
        <div class="chart-cell">
          <dx-bullet
            [showTarget]="false"
            [showZeroLevel]="true"
            [startScaleValue]="0"
            [endScaleValue]="100"
            [value]="d.value * 100"
          >
            <dxo-size [width]="150" [height]="35"></dxo-size>
            <dxo-margin [top]="5" [bottom]="0" [left]="5"></dxo-margin>
          </dx-bullet>
        </div>
      </div>
    </dx-data-grid>
  </div>
</section>
