<footer>
    <div class="subscribe-section bg-primary">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 col-lg-6 mb-3 my-3 text-center">
                   <h3 class="text-white">Subscribe to Our Newsletter </h3>
                   <p  class="text-white">Subscribe to our Newletter && get notifications about discounts</p>
                </div>
                <div class="col-md-12 col-lg-6 justify-content-center d-flex">
                    <div class="sub-area d-flex flex-row justify-content-between pe-1 ps-2 mb-3">
                        <input
                         type="text"
                          class="sub-inp"
                          placeholder="Email address"
                          >
                        <button class="btn btn-primary my-1">Subscribe</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="contact-info-section mt-4">
        <div class="container">
            <!-- <div class="row">
                <div class="col-md-4 col-lg-3">                   
                    <ul class="info">     
                        <h5>Contact Us</h5>        
                        <li><a href="#"><i class="fa-solid fa-phone"></i> +992959456667</a></li>
                        <li><a href="#"><i class="fa-regular fa-envelope"></i> fake dash.gmail.com</a></li>
                        <li><span> <i class="fa-solid fa-location-crosshairs"></i> Spitamen, Uktam-legend</span></li>
                    </ul>
                  
                    <div class="social-accaunt-icon d-flex flex-row justify-content-around mt-4">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    
                    <ul class="info">   
                        <h5>My Account</h5>                    
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">My Orders</a></li>
                        <li><a href="#">My Reviews</a></li>
                        <li><a href="#">My Profile</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-3" >
                  
                    <ul class="info d-flex flex-column"> 
                        <h5>Our Services</h5>         
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy & Policy</a></li>
                        <li><a href="#">Term Of Use</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-lg-3">
                    <ul class="info footer-tags">
                        <h5>Tags</h5>
                        <div class="footer-links">
                           <li><i class="fa-solid fa-tag"></i><a href="#">Accessories</a></li>
                           <li><i class="fa-solid fa-tag"></i><a href="#">Electronics</a></li>
                           <li><i class="fa-solid fa-tag"></i><a href="#">Entertainment</a></li>
                           <li><i class="fa-solid fa-tag"></i><a href="#">Fashion</a></li> 
                           <li><i class="fa-solid fa-tag"></i><a href="#">Gadgets</a></li> 
                           <li><i class="fa-solid fa-tag"></i><a href="#">Hot Deals</a></li> 
                           <li><i class="fa-solid fa-tag"></i><a href="#">LifeStyle</a></li> 
                           <li><i class="fa-solid fa-tag"></i><a href="#">smartphones</a></li> 
                        </div>          
                    </ul>
                </div>
            </div> -->
       
            <div class="row">
                <div class="col-md-4 col-lg-3" *ngFor="let item of footerList">   
                    <h5>{{item.headerTitile}}</h5>                     
                    <ul class="info ps-0"  [ngClass]="item.isFooterTag? 'footer-tags': '' ">     
                        <li *ngFor="let childItem of item.menuList" class="mb-2"><a href="#"><i [ngClass]="childItem.iconClass"></i> {{childItem.title}}</a></li>
                    </ul>
                  
                    <div class="social-accaunt-icon d-flex flex-row justify-content-around mt-4" *ngIf="item.hasSocialAccount">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
       
        </div>
    </div>

    <div class="copyright-section py-4  w-100 justify-content-center d-flex">
        <div class="main-container border-top">
            <p class="pt-2">SwiftCart 2025.All rights reserved.</p>
        </div>     
    </div>
           
</footer>
