<div class="empty-cart-container d-flex justify-content-center flex-column align-items-center my-5">
    <div class="empty-cart-img">
        <img src="./../../../../../../../assets/imagis/no-comment.svg" alt="empty-cart">
    </div>
    <div class="cart-caption text-center py-2">
        <h4 class="m-0">No completed orders</h4>
        <span>Looks like you haven't completed any orders yet.</span>
    </div>
    <div class="back-to-shop-link my-3">
        <a [routerLink]="['/shop']" class="btn btn-md">Continue Shopping</a>
    </div>
</div>

