<div class="content">
    <section class="content-header my-3">
        <h4 class="fw-bold">{{ 'createPost' | translate}}</h4>
    </section>
    <section class="main-content">
        <form class="post-form" [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="left-column col-lg-8 col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'general' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="title" class="text-left">
                                    {{ 'title' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <input 
                                    type="text" 
                                    id="title" 
                                    class="form-control"
                                    formControlName="title"
                                    [ngClass]="{'has-error': postForm.get('title')?.touched && postForm.get('title')?.invalid}"
                                >
                                <p class="error-message" *ngIf="postForm.get('title')?.touched && postForm.get('title')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                            <div class="form-group mt-3">
                                <label for="editor">
                                    {{ 'description' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <dx-html-editor
                                    [(value)]="editorValue"                       
                                    [height]="400"
                                    formControlName="description"
                                    [ngClass]="{'has-error': postForm.get('description')?.touched && postForm.get('description')?.invalid}"
                                    [toolbar]="{ items: [ 'undo', 'redo', 'separator', 'bold', 'italic', 'underline', 'strike',
                                    'separator', 'font', 'size', 'alignLeft', 'alignCenter', 'alignRight', 'alignJustify',
                                    'separator', 'orderedList', 'bulletList', 'separator', 'link', 'image', 'clear',
                                    'codeBlock', 'blockquote', 'insertTable', 'header', 'color', 'background' ] }"
                                >
                                </dx-html-editor>
                                <p class="error-message" *ngIf="postForm.get('description')?.touched && postForm.get('description')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">SEO</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="meta-title" class="text-left">
                                    {{ 'metaTitle' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <input 
                                    type="text" 
                                    id="meta-title" 
                                    class="form-control"
                                    formControlName="metaTitle"
                                    [ngClass]="{'has-error': postForm.get('metaTitle')?.touched && postForm.get('metaTitle')?.invalid}"
                                >
                                <p class="error-message" *ngIf="postForm.get('metaTitle')?.touched && postForm.get('metaTitle')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                            <div class="form-group mt-3">
                                <label for="meta-description" class="text-left">
                                    {{ 'metaDescription' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <textarea 
                                    class="meta-description form-control w-100" 
                                    style="height: 130px;" 
                                    id="meta-description"
                                    formControlName="metaDescription"
                                    [ngClass]="{'has-error': postForm.get('metaDescription')?.touched && postForm.get('metaDescription')?.invalid}"
                                ></textarea>
                                <p class="error-message" *ngIf="postForm.get('metaDescription')?.touched && postForm.get('metaDescription')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-column col-lg-4 col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'featuredImage' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <div 
                                    class="image-wrapper m-0 d-flex align-items-center justify-content-center position-relative" 
                                    [ngClass]="{'has-error': postForm.get('metaDescription')?.touched && postForm.get('metaDescription')?.invalid}"
                                    (click)="displayFileManager()"
                                >
                                    <img [src]="selectedImage">
                                    <span *ngIf="isImageLoaded" class="position-absolute" (click)="removeImage($event)"><i class="fa-solid fa-xmark"></i></span>
                                </div> 
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'publish' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="title" class="text-left">
                                    {{ 'publishStatus' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <select 
                                    class="form-select" 
                                    formControlName="publishStatus"
                                >
                                    <option>{{ 'published' | translate }}</option>
                                    <option>{{ 'unpublished' | translate }}</option>
                                </select>
                                <p class="error-message" *ngIf="postForm.get('publishStatus')?.touched && postForm.get('publishStatus')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'categories' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="title" class="text-left">
                                    {{ 'selectCategories' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <select name="" class="form-select" formControlName="postCategory">
                                    <option *ngFor="let category of blogCategories">{{ category.title | translate}}</option>
                                </select>
                                <p class="error-message" *ngIf="postForm.get('postCategory')?.touched && postForm.get('postCategory')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'tags' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="title" class="text-left">
                                    {{ 'addTags' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <dx-tag-box
                                    [ngClass]="{'has-error': postForm.get('tags')?.touched && postForm.get('tags')?.invalid}"
                                    [items]="items"
                                    displayExpr="name"
                                    valueExpr="this"
                                    [(value)]="selectedItems"
                                    [searchEnabled]="true"
                                    placeholder="{{ 'selectItems' | translate }}"
                                    [multiline]="true" 
                                    [applyValueMode]="'useButtons'"
                                    stylingMode="outlined"
                                    [showSelectionControls]="false"
                                    [acceptCustomValue]="false"
                                    formControlName="tags"
                                >
                                </dx-tag-box>
                                <p class="error-message" *ngIf="postForm.get('tags')?.touched && postForm.get('tags')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-form-footer d-flex align-items-center justify-content-end position-fixed bottom-0 end-0 px-2 py-2">
                <div class="control-btns">
                    <button class="btn btn-outline-secondary me-2" type="submit">{{ 'save' | translate }}</button>
                    <button class="btn btn-outline-primary me-2">{{ 'saveAndEdit' | translate }}</button>
                    <button class="btn btn-primary">{{ 'saveAndExit' | translate }}</button>
                </div>
            </div>
        </form>
    </section>
</div>
