<div class="content">
    <section class="content-header my-3">
        <h4 class="fw-bold">{{ 'createBlogPost' | translate}}</h4>
    </section>
    <section class="main-content">
        <form class="post-form" [formGroup]="postForm">
            <div class="row">
                <div class="left-column col-lg-8 col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'general' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="title" class="text-left">
                                    {{ 'title' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <input 
                                    type="text" 
                                    id="title" 
                                    class="form-control"
                                    formControlName="title"
                                    [ngClass]="{'has-error': postForm.get('title')?.touched && postForm.get('title')?.invalid}"
                                >
                                <p class="error-message" *ngIf="postForm.get('title')?.touched && postForm.get('title')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                            <div class="form-group mt-3">
                                <label for="editor">
                                    {{ 'description' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <dx-html-editor                       
                                    [height]="400"
                                    formControlName="description"
                                    [ngClass]="{'has-error': postForm.get('description')?.touched && postForm.get('description')?.invalid}"
                                    [toolbar]="{ items: [ 'undo', 'redo', 'separator', 'bold', 'italic', 'underline', 'strike',
                                    'separator', 'font', 'size', 'alignLeft', 'alignCenter', 'alignRight', 'alignJustify',
                                    'separator', 'orderedList', 'bulletList', 'separator', 'link', 'image', 'clear',
                                    'codeBlock', 'blockquote', 'insertTable', 'header', 'color', 'background' ] }"
                                >
                                </dx-html-editor>
                                <p class="error-message" *ngIf="postForm.get('description')?.touched && postForm.get('description')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-column col-lg-4 col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'featuredImage' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <div 
                                    class="image-wrapper m-0 d-flex align-items-center justify-content-center position-relative" 
                                    (click)="displayFileManager()"
                                >
                                    <img [src]="selectedImage">
                                    <span *ngIf="isImageLoaded" class="position-absolute" (click)="removeImage($event)"><i class="fa-solid fa-xmark"></i></span>
                                </div> 
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'publish' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="title" class="text-left">
                                    {{ 'publishStatus' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <select 
                                    class="form-select" 
                                    formControlName="isActive"
                                >
                                    <option [ngValue]="true">{{ 'published' | translate }}</option>
                                    <option [ngValue]="false">{{ 'unpublished' | translate }}</option>
                                </select>
                                <p class="error-message" *ngIf="postForm.get('isActive')?.touched && postForm.get('isActive')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'tags' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="title" class="text-left">
                                    {{ 'addTags' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <dx-tag-box
                                    [ngClass]="{'has-error': postForm.get('tagIds')?.touched && postForm.get('tagIds')?.invalid}"
                                    [items]="tags"
                                    displayExpr="title"
                                    valueExpr="id"
                                    [(value)]="selectedItems"
                                    [searchEnabled]="true"
                                    placeholder="{{ 'selectTags' | translate }}"
                                    [multiline]="true" 
                                    [applyValueMode]="'useButtons'"
                                    stylingMode="outlined"
                                    [showSelectionControls]="false"
                                    [acceptCustomValue]="false"
                                    formControlName="tagIds"
                                >
                                </dx-tag-box>
                                <p class="error-message" *ngIf="postForm.get('tags')?.touched && postForm.get('tags')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-form-footer d-flex align-items-center justify-content-end position-fixed bottom-0 end-0 px-2">
                <div class="control-btns d-flex flex-row">
                     <app-save-edit-toolbar
                        [editMode]="isEdit"
                        entityName="Permission"
                        [loading]="isSaving"
                        [invalid]="postForm.invalid"
                        [isImageLoaded]="!isImageLoaded"
                        (save)="savePost()"
                    ></app-save-edit-toolbar>
                    <button class="btn btn-secondary align-self-center ms-2" (click)="cancel()">
                      {{ 'cancel' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </section>
</div>
