<div class="content">
    <section class="content-header my-3">
        <h4 class="fw-bold">{{ (isEditable? 'editProduct' : 'sidebarCreateProduct' ) | translate }}</h4>
    </section>
    <section class="main-content">
        <form class="post-form" [formGroup]="productForm">
            <div class="row">
                <p>{{productForm.status}}</p>
                <div class="left-column col-lg-8 col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'general' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="title" class="text-left">
                                    {{ 'title' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <input 
                                    type="text" 
                                    id="title" 
                                    class="form-control"
                                    formControlName="name"
                                    [ngClass]="{'has-error': productForm.get('name')?.touched && productForm.get('name')?.invalid}"
                                >
                                <p class="error-message" *ngIf="productForm.get('name')?.touched && productForm.get('name')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                            <div class="form-group mt-3">
                                <label for="editor">
                                    {{ 'description' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <dx-html-editor                     
                                    [height]="400"
                                    formControlName="description"
                                    [ngClass]="{'has-error': productForm.get('description')?.touched && productForm.get('description')?.invalid}"
                                    [toolbar]="{ items: [ 'undo', 'redo', 'separator', 'bold', 'italic', 'underline', 'strike',
                                    'separator', 'font', 'size', 'alignLeft', 'alignCenter', 'alignRight', 'alignJustify',
                                    'separator', 'orderedList', 'bulletList', 'separator', 'link', 'image', 'clear',
                                    'codeBlock', 'blockquote', 'insertTable', 'header', 'color', 'background' ] }"
                                >
                                </dx-html-editor>
                                <p class="error-message" *ngIf="productForm.get('description')?.touched && productForm.get('description')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                            <div class="bottom-items col-lg-6 mt-3">
                                <div class="form-group mt-3">
                                   <label for="brand" class="text-left">
                                        {{'sidebarBrands' | translate}}
                                        <span class="text-red">*</span>
                                    </label>
                                    <select 
                                        class="form-select" 
                                        formControlName="brandId"
                                         [ngClass]="{'has-error': productForm.get('brandId')?.touched && productForm.get('brandId')?.invalid}"
                                    >
                                        <option [ngValue]="brand.id" *ngFor="let brand of brands">{{brand.name}}</option>
                                    </select>
                                     <p class="error-message" *ngIf="productForm.get('brandId')?.touched && productForm.get('brandId')?.invalid"> 
                                       {{ 'emptyInputError' | translate }}
                                    </p>
                                </div>                                  
                                 <div class="form-group mt-3">
                                   <label for="category" class="text-left">
                                        {{'sidebarCategories' | translate}}
                                        <span class="text-red">*</span>
                                    </label>
                                    <select 
                                        class="form-select" 
                                        formControlName="categoryId"
                                         [ngClass]="{'has-error': productForm.get('categoryId')?.touched && productForm.get('categoryId')?.invalid}"
                                    >
                                        <option [ngValue]="category.id" *ngFor="let category of categories">{{category.name}}</option>
                                    </select>
                                     <p class="error-message" *ngIf="productForm.get('categoryId')?.touched && productForm.get('categoryId')?.invalid"> 
                                       {{ 'emptyInputError' | translate }}
                                    </p>
                                </div>
                            <div class="form-group mt-3">
                                   <label for="brand" class="text-left">
                                        {{'productUnit' | translate}}
                                        <span class="text-red">*</span>
                                    </label>
                                    <select 
                                        class="form-select" 
                                        formControlName="unitId"
                                        [ngClass]="{'has-error': productForm.get('unitId')?.touched && productForm.get('unitId')?.invalid}"
                                    >
                                        <option [ngValue]="unit.id" *ngFor="let unit of units">{{unit.name}}</option>
                                    </select>
                                     <p class="error-message" *ngIf="productForm.get('unitId')?.touched && productForm.get('unitId')?.invalid"> 
                                       {{ 'emptyInputError' | translate }}
                                    </p>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="title" class="text-left d-block">
                                            {{ 'status' | translate }}
                                        <span class="text-red">*</span>
                                    </label>
                                    <input class="form-check-input me-2" type="checkbox" value="" id="checkDefault" formControlName="isActive">
                                     <label class="form-check-label" for="checkDefault">
                                             {{ 'enableProduct' | translate }}                              
                                     </label>
                                </div>
                                 <p class="error-message" *ngIf="productForm.get('isActive')?.touched && productForm.get('isActive')?.invalid"> 
                                       {{ 'emptyInputError' | translate }}
                                 </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-column col-lg-4 col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'featuredImage' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <div 
                                    class="image-wrapper m-0 d-flex align-items-center justify-content-center" 
                                    (click)="displayFileManager()"
                                >
                                <img [src]="placeholderImage">
                                </div> 
                                <div class="selected-image-container">
                                    <div class="image-wrapper m-0 d-flex align-items-center justify-content-center position-relative" *ngFor="let selectedImage of selectedImages">
                                        <img  [src]="getUrl + selectedImage.uniqueName" class="selected-images">
                                        <span class="position-absolute" (click)="removeImage($event, selectedImage.id)"><i class="fa-solid fa-xmark"></i></span>
                                    </div>                           
                                </div>
                                 <p class="error-message" *ngIf="isClicked && selectedImages.length === 0"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'inventory' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="title" class="text-left">
                                    {{ 'quantity' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                               <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">#</span>
                                    <input 
                                    type="number" 
                                    class="form-control" 
                                    formControlName="quantity" 
                                    aria-label="Username" 
                                    aria-describedby="addon-wrapping"
                                    [ngClass]="{'has-error': productForm.get('price')?.touched && productForm.get('price')?.invalid}"
                                    >
                                </div>
                                <p class="error-message" *ngIf="productForm.get('publishStatus')?.touched && productForm.get('publishStatus')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">{{ 'price' | translate }}</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="title" class="text-left">
                                    {{ 'price' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                               <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">$</span>
                                    <input 
                                    type="number" 
                                    class="form-control" 
                                    formControlName="price" 
                                    aria-label="Username" 
                                    aria-describedby="addon-wrapping"
                                    [ngClass]="{'has-error': productForm.get('price')?.touched && productForm.get('price')?.invalid}"
                                    >
                                </div>
                                <p class="error-message" *ngIf="productForm.get('postCategory')?.touched && productForm.get('postCategory')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box-header">
                            <h5 class="fw-bold">SEO</h5>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="meta-title" class="text-left">
                                    {{ 'metaTitle' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <input 
                                    type="text" 
                                    id="meta-title" 
                                    class="form-control"
                                    formControlName="metaTitle"
                                    [ngClass]="{'has-error': productForm.get('metaTitle')?.touched && productForm.get('metaTitle')?.invalid}"
                                >
                                <p class="error-message" *ngIf="productForm.get('metaTitle')?.touched && productForm.get('metaTitle')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                            <div class="form-group mt-3">
                                <label for="meta-description" class="text-left">
                                    {{ 'metaDescription' | translate }}
                                    <span class="text-red">*</span>
                                </label>
                                <textarea 
                                    class="meta-description form-control w-100" 
                                    style="height: 130px;" 
                                    id="meta-description"
                                    formControlName="metaDescription"
                                    [ngClass]="{'has-error': productForm.get('metaDescription')?.touched && productForm.get('metaDescription')?.invalid}"
                                ></textarea>
                                <p class="error-message" *ngIf="productForm.get('metaDescription')?.touched && productForm.get('metaDescription')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="page-form-footer d-flex align-items-center justify-content-end position-fixed bottom-0 end-0 px-2 py-2">
              <div class="control-btns d-flex flex-row">
                     <app-save-edit-toolbar
                         [editMode]="isEditable"
                        entityName="Product"
                        [loading]="isSaving"
                        [isImageLoaded]="!isImageLoaded"
                        [invalid]="productForm.invalid"
                        (save)="saveProduct()"
                        ></app-save-edit-toolbar>
                      <button class="btn btn-secondary align-self-center ms-2" (click)="cancel()">
                         {{ 'cancel' | translate }}
                    </button>
              </div>
        </div>
        </form>
    </section>
</div>
