@import '../../../../assets/sass/variables.scss';
.costom-select{
    
   border-radius: 20px;
}

.costom-select:focus{
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important; /* Add a custom focus style */
        border: 1px solid rgba(0, 123, 255, 0.8) !important; /* Optional: Enhance the border */

}
.costom-select:hover{
   border: 1px solid $color-primary-hover;
   cursor: pointer;
}