<h5>Blogs</h5>
<app-blog-page-card [posts]="blogPostCard"></app-blog-page-card>
<!-- <div class="blog-container d-flex flex-wrap gap-3">
  <div class="blog mt-2" *ngFor="let postCard of blogPostCard" style="width: 31.3333%;">
    <div class="blog-content" style="width: 100%;">
      <div class="blog-img">
        <img src="../../../../../../../assets/imagis/post-image.jpg" alt="Blog Image">
      </div>
      <div class="blog-details">
        <div class="blog-info px-3 py-3">
          <small class="blog-author mt-4">
            <i class="fa-regular fa-user me-2"></i>{{ postCard.author }}
          </small>
          <small class="blog-release ms-3">
            <i class="fa-regular fa-calendar me-2"></i> {{ postCard.date | date }}
          </small>
          <h5 class="mt-3" [routerLink]="[postCard.id]">{{ postCard.postTitle }}</h5>
        </div>
      </div>
      <div class="read-more-link">
        <a href="#" [routerLink]="[postCard.id]" class="ms-3 mb-3">Read More... <i class="fa-solid fa-arrow-right d-none"></i></a>
      </div>   
    </div>
  </div>
</div> -->
