
  <div class="blog mt-2">
    <div class="blog-content" style="width: 100%;">
      <div class="blog-img">
        <img src="../../../../../../../assets/imagis/post-image.jpg" alt="Blog Image">
      </div>
      <div class="blog-details">
        <div class="blog-info px-3 py-3">
          <small class="blog-author mt-4">
            <i class="fa-regular fa-user me-2"></i>{{ posts.author }}
          </small>
          <small class="blog-release ms-3">
            <i class="fa-regular fa-calendar me-2"></i> {{ posts.date | date }}
          </small>
          <h5 class="mt-3" [routerLink]="['/blog', posts.id]">{{ posts.postTitle }}</h5>
        </div>
      </div>
      <div class="read-more-link">
        <a href="#" [routerLink]="['/blog', posts.id]" class="ms-3 mb-3">Read More... <i class="fa-solid fa-arrow-right"></i></a>
      </div>   
    </div>
  </div>
