
<div class="input-categories d-flex flex-row align-items-center" >
    <div class="return-arrow ps-2 d-none cursor-pointer">
        <span class="text-center" (click)="inActivateResInput()"><i class="fa-solid fa-arrow-left fs-5"></i></span>
    </div>
    <input 
    type="text" 
    placeholder="{{'search' | translate}}"
    id="search-inp" 
    class="search-product" 
    (focus)="onFocus()"
    (blur)="onBlur()"
    >
   <div class="category-list">
      <select class="form-select form-select-sm costom-select" aria-label="Small select example">
          <option selected value="all">{{'allCategories' | translate}}</option>
          <option value="rus"> {{'mensFashion' | translate}}</option>
          <option value="rus">{{'shirt' | translate}}</option>
          <option value="rus">{{'jacket' | translate}}</option>
          <option value="rus">{{'electronic' | translate}}</option>
      </select>
   </div>
   <div class="search-btn mx-2">
      <button class="btn btn-primary"><i class="fa-solid fa-magnifying-glass fw-2"></i></button>
   </div>
</div>

