@import '../../../../assets/sass/variables.scss';
button{
    padding: 6px 10px;   
    border-radius: $default-border-radius;
    color: $color-black;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid $border-color;
    &:hover{
        opacity: 0.7;
    }
    &:last-child{
        background-color: $color-yellow;
        color: $color-gray-lite;
        margin-right: 4px;
    }
}
span{
    font-size: 17px;
    font-weight: 600;
}