@import '../../../../assets/sass/variables.scss';

:host {
  display: block;
}

.dialog-title {
  font-size: 20px;
  font-weight: 700;
  color: $color-black;
  margin-bottom: 8px;
}

.dialog-content {
  padding-top: 4px;

  p {
    font-size: 16px;
    font-weight: 500;
    color: $color-gray-dark;
    line-height: 1.5;
    margin: 0;
  }
}

.dialog-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;

}

