


@use '@angular/material' as mat;
@include mat.core();
$ang-swift-cart-primary: mat.define-palette(mat.$indigo-palette);
 $ang-swift-cart-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$ang-swift-cart-warn: mat.define-palette(mat.$red-palette);

$ang-swift-cart-theme: mat.define-light-theme((
    
  color: (
    primary: $ang-swift-cart-primary,
    accent: $ang-swift-cart-accent,
    warn: $ang-swift-cart-warn,
  )

));

@include mat.all-component-themes($ang-swift-cart-theme);

/* You can add global styles to this file, and also import other style files */
@import "@fontsource/poppins";
@import "assets/sass/variables.scss";
@import "assets/sass/mixins.scss";
@import "assets/sass/scroll-bar.scss";
@import 'swiper/swiper-bundle.min.css';
// @import "~devextreme/dist/css/dx.common.css";
// @import "~devextreme/dist/css/dx.material.blue.light.css";


@font-face{
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    
}

@font-face{
    font-family: 'Poppins-Light';
    src: url('assets/fonts/Poppins-Light.ttf') format('truetype');
    
}

@font-face{
    font-family: 'Poppins-Bold';
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
    
}

$font-base-light:'Poppins-Light';
$font-base-bold:'Poppins-Bold';
$font-base-regular:'Poppins';

 .dx-datagrid-search-panel::after {
  display: none !important;
}

.dx-data-row:hover {
  background-color: #f0f8ff !important;  /* Light blue */
  cursor: pointer;
}

/* Remove border and hover effect on the search panel input */

.dx-datagrid-search-panel {
    border-radius: 8px !important;
    input{
        padding: 9px 16px 11px !important;
        padding-left: 46px !important;
        height: 30px !important;        
    }
    input:focus{
        border: none !important;
    }
   .dx-icon-search{
     margin-top: -22px !important;
   }
  .dx-placeholder{
    top: -8px !important;
  }
}
 .dx-datagrid-search-text {
  color: #111827;
  font-size: 17px;
}
.dx-texteditor.dx-state-focused::before {
  content: none !important;
  display: none !important;
  border: none !important;
}

.custom-delete-btn {
  /* Match the search bar height */
  background-color: #fff !important; /* Bootstrap's danger red */
  border-radius: 8px !important;
  border: 1px solid #d0d5dd;
  padding: 2px 12px !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: all .2s ease-in-out;
  width: auto !important;
  padding: 0 !important;
  .dx-icon{
    color: #d0d5dd !important;
  }
  .dx-button-text{
   color: #3333337d !important;
   text-transform: none !important;
  }
}

 .custom-delete-btn:hover{
   border: 1px solid #0068e1;
    .dx-icon{
    color: #0068e1 !important;
  }
  .dx-button-text{
   color: #0068e1 !important;
  }
}
/* 1. Remove default margin and padding */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

dropzone {
//   display: block;
//   width: 100%;
//   min-height: 200px;
//   border: none !important;
//   border-radius: 8px;
//   background: #f8f9fa;
//   padding: 16px;
  .dz-message{
    border: none !important;
    background-color: inherit !important;
       .dz-text{
            font-size: 18px !important;
            color: $color-gray-dark-5 !important;
        }
  }
}

/* 2. Set the font to a consistent baseline */

body, .mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1 {
    font-family: 'Poppins-Light', sans-serif !important;
    @include scrollStyle(true);
    height: 100%;
    font-size: 16px !important;
    line-height: 1.5 !important;
    color: #333 !important;
    .dropdown-menu {
        z-index: 2000 !important; /* Ensure it appears above Angular CDK overlays */
      }
  }

  html{
    top: 0 !important;
  }
  
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0 !important;
}
/* 3. Remove list styles (for ul, ol) */
ul,
ol {
    list-style: none;
    padding-left: 0 !important;
}

/* 4. Remove link decoration */
a {
    text-decoration: none !important;
    color: inherit;
}

/* 5. Set a consistent image behavior */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.eng {
    font-family: 'Poppins-Bold', sans-serif;
  }
  
  /* Russian language */
  .ru {
    font-family: 'Poppins', sans-serif !important;
  }

/* 6. Ensure all form elements have consistent styling */
input,
select,
textarea,
button {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    &.has-error{
         border:$input-error-style !important;
    }
}

/* 7. Make sure buttons don't have outline when focused */
button:focus {
    outline: none;
}
.row {
    margin: 0 !important;
    padding: 0 !important;
}

input:focus,
textarea:focus {
  border: 1px solid #0068e1cc !important;
  outline: none !important;
  box-shadow: none !important;
  transition: border 0.15s ease-in-out;
}

p{
    color: $color-dark-2;
    padding: 0 !important;
    margin: 0 !important;
}
.policy-paragraph-styles{
    line-height: 24px;
    color: $color-gray;
}

.main-container{
    width: 94%;
}

.error-message{
    color: $error-text-message;
}

table td, th {
    padding: 15px 25px !important;
    min-width: 120px !important;
}

 .box{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 0 1px #8c8c8c26;
        .box-header{
            padding: 10px 20px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $border-color;
        }
        .box-body{
            padding: 20px;
            .form-group{
                font-weight: bold;
                .image-wrapper{
                        width: 180px;
                        height: 170px;
                        border: 2px dashed #d2d6de;
                        border-radius: 8px;
                        z-index: 0;
                        cursor: pointer;
                        overflow: hidden; 
                    }
                label{
                    margin-bottom: 4px;
                 span{
                    color: #fc4b4b;
                }
                }
               
            }
        }
    }


html, body { height: 100%; }
body { margin: 0; font-family: $font-base-regular, "Helvetica Neue", sans-serif; }

@import'./assets/sass/variables.scss';
.panel-inner{
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    .panel-header{
        background-color: $color-gray-lite;
         span:hover{
            color: $color-primary-hover;
            cursor: pointer;
        }
       
    }
    .panel-body{
        overflow-x: auto !important;
    }
    table{
        width: 100%;
        thead{
            border-bottom: 1px solid $border-color;
            tr th{
                white-space: nowrap;
            }
        }
        tbody > tr{
            color: $color-black;
            td:not(:nth-child(2)){
                white-space: nowrap;
                //display: inline-block;
            }
            td:last-child{
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 8px;
            }
            // td:nth-child(4), td:nth-child(5){
            //    padding: 25px 10px !important;
            // }
            span{
                padding: 2px 10px;
                background-color: #eef5f5;
                color: $color-info;
                border-radius: 20px;
                font-size: 12px;
                text-align: center;
                display: inline-block;
                white-space: nowrap;
            }
            h4{
                @include mainTitleOverflow(16px)
            }
            img{
                height: 50px;
                width: 55px;
                border-radius: $radius-default;
                overflow: hidden;
                border: 1px solid #e2e8f0;
            }
            a, button{
                border-radius: $default-border-radius;
                background-color: $color-gray-lite;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 28px;
                width: 28px;
                cursor: pointer;
                transition: $transition-200;
                i{
                    transition: $transition-200;
                    color: $color-gray;
                    font-size: 15px;
                }
                &:hover{
                    background: #eef5f5;
                    border: 1px solid $color-primary;
                    i{
                        color: $color-primary-hover;                  
                    }
                }
            }
           
        }
    }
   
}


  ::ng-deep .dx-datagrid-search-panel {
 //padding: 6px 6px !important;
      border-radius: 8px;
      background-color: #f3f4f6; // light gray
      border: 1px solid #d0d5dd !important;
    width: 277px;
    max-width: 100%;
    height: 30px !important;
    transition: .2s ease-in-out;
    .dx-placeholder{
       top: -8px !important;
    }
     .dx-icon-search{
      margin-top: -20px !important;
   }
   .dx-texteditor::after{  
      border-bottom: 1px solid red !important;
      &:hover{
        border-bottom: red !important;
      }
   }
}


@media screen and (max-width:768px) {
    .panel-inner{
        .panel-body{
            overflow-x: auto !important;
            // table tbody tr td{
            //     background-color: red;
            //     min-width: 12px !important;
            // }
        }
       
    }
   
}