@use '@angular/material' as mat;
@import'./assets/sass/variables.scss';
@import "@fontsource/poppins";
@import "assets/sass/variables.scss";
@import "assets/sass/mixins.scss";
@import "assets/sass/scroll-bar.scss";
@import 'swiper/swiper-bundle.min.css';

@font-face{
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    
}

@font-face{
    font-family: 'Poppins-Light';
    src: url('assets/fonts/Poppins-Light.ttf') format('truetype');
    
}

@font-face{
    font-family: 'Poppins-Bold';
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
    
}

@include mat.core();
$ang-swift-cart-primary: mat.define-palette(mat.$indigo-palette);
 $ang-swift-cart-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$ang-swift-cart-warn: mat.define-palette(mat.$red-palette);

$ang-swift-cart-theme: mat.define-light-theme((
    
  color: (
    primary: $ang-swift-cart-primary,
    accent: $ang-swift-cart-accent,
    warn: $ang-swift-cart-warn,
  )

));



@include mat.all-component-themes($ang-swift-cart-theme);

$font-base-light:'Poppins-Light';
$font-base-bold:'Poppins-Bold';
$font-base-regular:'Poppins';

/* 2. Set the font to a consistent baseline */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1 {
    font-family: 'Poppins-Light', sans-serif !important;
    @include scrollStyle(true);
    height: 100%;
    font-size: 16px !important;
    line-height: 1.5 !important;
    color: #333 !important;
    .dropdown-menu {
        z-index: 2000 !important; /* Ensure it appears above Angular CDK overlays */
      }
  }

  html{
    top: 0 !important;
  }

body { margin: 0; font-family: $font-base-regular, "Helvetica Neue", sans-serif; }
  
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0 !important;
    color: #444 !important;
    line-height: 28px !important;
}
h6{
  font-size: 16px !important;
}
h5{
  font-size: 18px !important;
}
h4{
  font-size: 20px !important;
}
h3{
  font-size: 22px !important;
}
h2{
  font-size: 24px !important;
}
/* 3. Remove list styles (for ul, ol) */
ul,
ol {
    list-style: none;
    padding-left: 0 !important;
}

/* 4. Remove link decoration */
a {
    text-decoration: none !important;
    color: inherit;
}

/* 5. Set a consistent image behavior */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.eng {
    font-family: 'Poppins-Bold', sans-serif;
  }
  
  /* Russian language */
  .ru {
    font-family: 'Poppins', sans-serif !important;
  }

/* 6. Ensure all form elements have consistent styling */
input,
select,
textarea,
button {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    &.has-error{
         border:$input-error-style !important;
    }
}

/* 7. Make sure buttons don't have outline when focused */
button:focus {
    outline: none;
}
.row {
    margin: 0 !important;
    padding: 0 !important;
}

input:focus,
textarea:focus {
  border: 1px solid #0068e1cc !important;
  outline: none !important;
  box-shadow: none !important;
  transition: border 0.15s ease-in-out;
}

p{
    color: $color-dark-2;
    padding: 0 !important;
    margin: 0 !important;
}

table td, th {
    padding: 15px 25px !important;
    min-width: 120px !important;
}

// devextreme datagrid styling
 .dx-datagrid-search-panel::after {
  display: none !important;
}

.dx-data-row:hover {
  background-color: #f0f8ff !important;  /* Light blue */
  cursor: pointer;
}

.dx-datagrid-search-panel {
    border-radius: 8px !important;
    input{
        padding: 9px 16px 11px !important;
        padding-left: 46px !important;
        height: 30px !important;        
    }
    input:focus{
        border: none !important;
    }
   .dx-icon-search{
     margin-top: -22px !important;
   }
  .dx-placeholder{
    top: -8px !important;
  }
}
 .dx-datagrid-search-text {
  color: #111827;
  font-size: 17px;
}

  ::ng-deep .dx-datagrid-search-panel {
      border-radius: 8px;
      background-color: #f3f4f6; // light gray
      border: 1px solid #d0d5dd !important;
    width: 277px;
    max-width: 100%;
    height: 30px !important;
    transition: .2s ease-in-out;
    .dx-placeholder{
       top: -8px !important;
    }
     .dx-icon-search{
      margin-top: -20px !important;
   }
   .dx-texteditor::after{  
      border-bottom: 1px solid red !important;
      &:hover{
        border-bottom: red !important;
      }
   }
}

//devextreme text editor stylings
.dx-texteditor.dx-state-focused::before {
  content: none !important;
  display: none !important;
  border: none !important;
}

//costom  delete botton stylings
.custom-delete-btn {
  background-color: #fff !important;
  border-radius: 8px !important;
  border: 1px solid #d0d5dd;
  padding: 2px 12px !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: all .2s ease-in-out;
  width: auto !important;
  padding: 0 !important;
  .dx-icon{
    color: #d0d5dd !important;
  }
  .dx-button-text{
   color: #3333337d !important;
   text-transform: none !important;
  }
}

 .custom-delete-btn:hover{
   border: 1px solid #0068e1;
    .dx-icon{
    color: #0068e1 !important;
  }
  .dx-button-text{
   color: #0068e1 !important;
  }
}

//dropzone stylings
dropzone {
  .dz-message{
    border: none !important;
    background-color: inherit !important;
       .dz-text{
            font-size: 18px !important;
            color: $color-gray-dark-5 !important;
        }
  }
}


.policy-paragraph-styles{
    line-height: 24px;
    color: $color-gray;
}

//costum main contaite
.main-container{
    width: 94%;
}

//input error message styling
.error-message{
    color: $error-text-message;
}

//admin box container stylings
 .box{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 0 1px #8c8c8c26;
        .box-header{
            padding: 10px 20px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $border-color;
        }
        .box-body{
            padding: 20px;
            .form-group{
                font-weight: bold;
                .selected-image-container{
                  margin-top: 6px;
                  width: 100% !important;
                  display: flex;
                  flex-wrap: wrap;
                  flex-direction: row;
                  gap: 6px;
                  .image-item{
                     flex: 0 0 40%;  
                     max-width: 40%;                 
                    span{
                            top: 2px;
                            left: 117px;
                            color: $color-gray-dark-5;
                            transition: $transition-150;
                            font-size: 18px;
                            cursor: pointer;
                            &:hover{
                            color: black;
                            }
                        } 
                  }
                   .selected-images{
                       width: 100%;
                      border: 1px solid $border-color;
                      border-radius: 4px;
                }
                }
              
                .image-wrapper{
                        width: 180px;
                        height: 170px;
                        border: 2px dashed #d2d6de;
                        border-radius: 8px;
                        z-index: 0;
                        cursor: pointer;
                        overflow: hidden;
                    }
                label{
                    margin-bottom: 4px;
                 span{
                    color: #fc4b4b;
                }
                }
               
            }
        }
    }

//store tables styling
.panel-inner{
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    .panel-header{
        background-color: $color-gray-lite;
         span:hover{
            color: $color-primary-hover;
            cursor: pointer;
        }
       
    }
    .panel-body{
        overflow-x: auto !important;
    }
    table{
        width: 100%;
        thead{
            border-bottom: 1px solid $border-color;
            tr th{
                white-space: nowrap;
            }
        }
        tbody > tr{
            color: $color-black;
            td:not(:nth-child(2)){
                white-space: nowrap;
            }
            td:last-child{
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 8px;
            }
            span{
                padding: 2px 10px;
                background-color: #eef5f5;
                color: $color-info;
                border-radius: 20px;
                font-size: 12px;
                text-align: center;
                display: inline-block;
                white-space: nowrap;
            }
            h4{
                @include mainTitleOverflow(16px)
            }
            img{
                height: 50px;
                width: 55px;
                border-radius: $radius-default;
                overflow: hidden;
                border: 1px solid #e2e8f0;
            }
            a, button{
                border-radius: $default-border-radius;
                background-color: $color-gray-lite;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 28px;
                width: 28px;
                cursor: pointer;
                transition: $transition-200;
                i{
                    transition: $transition-200;
                    color: $color-gray;
                    font-size: 15px;
                }
                &:hover{
                    background: #eef5f5;
                    border: 1px solid $color-primary;
                    i{
                        color: $color-primary-hover;                  
                    }
                }
            }
           
        }
    }
   
}


//html editor styles
 .dx-htmleditor {
    border-radius: 8px !important;
    box-shadow: 0 0 0 1px #8c8c8c26 !important;
    border-color:#d9d9d9 !important;
}

//devextreme tagbox styles
 .dx-tagbox {
  overflow-y: visible !important;
  white-space: normal;
  box-shadow: 0 0 0 1px #8c8c8c26 !important;
 
}

 .dx-tag-content {
  flex-wrap: wrap !important; /* Forces tags to wrap */
  gap: 4px;
  padding-bottom: 4px;
}


//ng select costom styling
.ng-select .ng-select-container {
  .ng-placeholder{
    font-weight: 200 !important;
  }
}

.ng-select.has-error .ng-select-container {
  border: 1px solid $color-red !important;
  // border-radius: 6px;
  // box-shadow: 0 0 4px rgba(255, 0, 0, 0.3);
}

.ng-select .ng-input > input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.ng-select .ng-select-container:focus {
  border-color: #2196f3; 
  box-shadow: none !important;  /* Hover effect */
}

.ng-select .ng-value {
  background: #e3f2fd;      /* Background for selected tags */
  border-radius: 10px !important;
  padding: 2px 8px;
  margin: 2px;
  color: #1976d2;
  font-weight: 300;
  input:focus{
    border: none !important;
  }
}

 .ng-select .ng-value .ng-value-icon {
  color: #1976d2;           /* X-mark color */
}

.ng-select .ng-option {
  padding: 10px;
  font-size: 14px;
  font-weight: 300 !important;
}

.ng-select .ng-option:hover {
  background-color: #e3f2fd;
  color: #0d47a1;
}

.active-status {
  background-color: #d4edda;
  color: #155724;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.inactive-status {
  background-color: #f8d7da;
  color: #721c24;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.status-in-stock {
  background-color: #d4edda;
  color: #155724;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.status-out-stock {
  background-color: #f8d7da;
  color: #721c24;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.status-new {
  background-color: #e6f3ff;
  color: #007bff;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.status-approved {
  background-color: #d4edda;
  color: #155724;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.status-rejected {
  background-color: #f8d7da;
  color: #721c24;
   padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.status-pending {
  background-color: #fffae6;
  color: #b38f00;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.status-processing {
  background-color: #e6f3ff;
  color: #007bff;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.status-shipped {
  background-color: #e8f5e9;
  color: #2e7d32;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.status-delivered {
  background-color: #d4edda;
  color: #155724;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.status-cancelled {
  background-color: #f8d7da;
  color: #721c24;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
}

.active-title-underline{
    &::before{
      content: '';
      width: 100%;
      height: 1px;
      background-color: #0068e1;
      position: absolute;
      top: 34px;       // adjust as needed
      left: 2px;
      transform: scaleX(1);          
      transform-origin: center;   
      transition: transform 0.3s ease;
    }  
  }
  
.left-info{
    border: 1px solid $border-color;
    border-radius: 8px;
    .header{
        background-color: #f6f6f7;
    }
    .main{
        border-top: #ddd;
         padding: 10px 0 10px 8px;
        background-color: #eee;
        .panel{
            background-color: white;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            &::before{
                content: '';
                width: 2px;
                height: 100%;
                background-color: $color-primary;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

//store tabel stylings
@media screen and (max-width:768px) {
    .panel-inner{
        .panel-body{
            overflow-x: auto !important;
        }
       
    }
   
}