<section class="right-column mt-4">
    <h5 class="fw-bold mb-3">{{'Create User' | translate}}</h5>
    <div class="row bg-white rounded-2">
        <div class="col-lg-4">
            <div class="left-info mt-3">
                <div class="header px-3 py-2 fw-bold">
                    {{'userInfo' | translate}}
                </div>
                <div class="main ">
                    <div class="panel py-2 position-relative ms-2"><span class="ms-2 fw-bold">{{'general' | translate}}</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
             <div class="box px-3 shadow-none">
                        <div class="box-header">
                            <a class="fw-bold active-title-underline position-relative">{{ 'general' | translate }}</a>  
                        </div>
                        <div class="box-body">
                            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                            <div class="form-name mb-3">
                                  <label for="name" class="text-left">
                                          {{ 'name' | translate }}
                                    <span class="text-red">*</span>
                                  </label>
                                <input 
                                    type="text" 
                                    id="name" 
                                    class="form-control"
                                    formControlName="firstName"
                                    [ngClass]="{'has-error': userForm.get('firstName')?.touched && userForm.get('firstName')?.invalid}"
                                >
                                 <p class="error-message" *ngIf="userForm.get('firstName')?.touched && userForm.get('firstName')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                            <div class="form-last mb-3">
                                  <label for="lastName" class="text-left">
                                          {{ 'lastNameLabel' | translate }}
                                    <span class="text-red">*</span>
                                  </label>
                                <input 
                                    type="text" 
                                    id="lastName" 
                                    class="form-control"
                                    formControlName="lastName"
                                    [ngClass]="{'has-error': userForm.get('lastName')?.touched && userForm.get('lastName')?.invalid}"
                                >
                                 <p class="error-message" *ngIf="userForm.get('lastName')?.touched && userForm.get('lastName')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                             <div class="form-email mb-3">
                                  <label for="email" class="text-left">
                                          {{ 'email' | translate }}
                                    <span class="text-red">*</span>
                                  </label>
                                <input 
                                    type="email" 
                                    id="email" 
                                    class="form-control"
                                    formControlName="email"
                                    [ngClass]="{'has-error': userForm.get('email')?.touched && userForm.get('email')?.invalid}"
                                >
                                 <p class="error-message" *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                            </div>
                            <div class="form-roles mb-3">
                                  <label for="roles" class="text-left">
                                          {{ 'roles' | translate }}
                                    <span class="text-red">*</span>
                                  </label>
                               <select class="form-select" aria-label="Default select example" formControlName="roleId">
                                    <option [ngValue]='role.id' *ngFor="let role of roles">{{role.name}}</option>
                                </select>
                                 <p class="error-message" *ngIf="userForm.get('rating')?.touched && userForm.get('rating')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                                </div>
                            <div class="password-form mb-3 position-relative">
                                    <label for="password" class="fs-6" translate>password</label>
                                    <input 
                                    [type]="passwordType" 
                                    id="password" 
                                    class="password-input form-control" 
                                    formControlName="password"
                                    [ngClass]="{'has-error':userForm.get('password')?.touched && userForm.get('password')?.invalid}"
                                    />
                                    <span class="eye-icon position-absolute" 
                                        (click)="passwordType = passwordType === 'password' ? 'text' : 'password'">
                                        <i [class]="passwordType === 'password' ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i>
                                    </span>
                                    <p class="error-message" *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid">
                                        <span class="error-message" *ngIf="userForm.get('password')?.errors?.['required']">
                                            {{ 'emptyInputError' | translate }}
                                        </span>
                                        <span *ngIf="userForm.get('password')?.errors?.['minlength'] && 
                                        userForm.get('password')?.errors?.['minlength']?.['requiredLength']">
                                            {{ 'passwordContain' | translate }}
                                            {{ userForm.get('password')?.errors?.['minlength']?.['requiredLength'] }}
                                            {{ 'characters' | translate }}. 
                                            {{ 'has' | translate }} {{ userForm.get('password')?.errors?.['minlength']?.['actualLength'] }}
                                        </span>
                                    </p>
                                </div>

                            <div class="password-form mb-3 position-relative">
                                    <label for="comfirm" class="fs-6" translate>Comfirm password</label>
                                    <input 
                                    (input)="onPasswordChange($event)"
                                    [type]="comfirmPasswordType" 
                                    id="comfirm" 
                                    class="password-input form-control" 
                                    formControlName="comfirm"
                                    [ngClass]="{'has-error': !isIdentical && userForm.get('comfirm')?.touched}"
                                    />
                                    <span class="eye-icon position-absolute" 
                                        (click)="comfirmPasswordType = comfirmPasswordType === 'password' ? 'text' : 'password'">
                                        <i [class]="comfirmPasswordType === 'password' ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i>
                                    </span>
                                    <p class="error-message" *ngIf="!isIdentical && userForm.get('comfirm')?.touched">
                                         {{ 'Password is not comfirmed, check your original password' | translate }}
                                    </p>
                                </div>
                             <div class="form-image password-form mb-3 position-relative">
                                  <label for="image" class="text-left">
                                          {{ 'image' | translate }}
                                    <span class="text-red">*</span>
                                  </label>
                                <input 
                                    type="file" 
                                    accept="image/*" 
                                    id="image" 
                                    [value]="''"
                                    class="form-control"
                                    (change)="onFileChange($event)"
                                    (blur)="onFileBlur()"
                                    [ngClass]="{'has-error': userForm.get('image')?.touched && userForm.get('image')?.invalid}"
                                >
                                <span class="eye-icon position-absolute" 
                                *ngIf="isImageSelected"
                                        (click)="removeImage()">
                                        <i class="fa-solid fa-xmark"></i>
                                </span>
                                   <p
                                        class="error-message"
                                        *ngIf="userForm.get('image')?.touched && userForm.get('image')?.hasError('required')"
                                    >
                                         {{ 'emptyInputError' | translate }}
                                    </p>
                            </div>                         

                            <div class="form-status mb-3">
                                    <label for="title" class="text-left d-block">
                                            {{ 'status' | translate }}
                                            <span class="text-red">*</span>
                                    </label>
                                    <input class="form-check-input me-3" type="checkbox" id="checkDefault" formControlName="isActive">
                                     <label class="form-check-label" for="checkDefault">
                                             {{ 'enableUser' | translate }}                              
                                     </label>
                                <p class="error-message" *ngIf="userForm.get('isActive')?.touched && userForm.get('isActive')?.invalid"> 
                                    {{ 'emptyInputError' | translate }}
                                </p>
                             </div>
                            </div>
                                <div class="action-btns mt-3 float-start d-flex flex-row">
                                  <app-save-edit-toolbar
                                    [editMode]="isEdit"
                                    entityName="User"
                                    [loading]="isSaving"
                                    [invalid]="userForm.invalid"
                                    (save)="saveUser()"
                                    ></app-save-edit-toolbar>
                                    <button class="btn btn-secondary align-self-center ms-2" (click)="cancel()">
                                     {{ 'cancel' | translate }}
                                    </button>
                                </div>
                            </form>
                        </div>
                 </div>
        </div>      
    </div>                  
</section>

