
<div [routerLink]="['/dashboard']" class="back-to-account d-flex justify-content-center align-items-center mt-2">
    <i class="fa-solid fa-arrow-left"></i>
 </div>
<div class=" order-details m-5">
   
    <div class="details-top">
       <h4 class="mb-3 pb-2">View Order</h4>
       <div class="order-info row">
        <div class="col-lg-4">
            <h5 class="mb-3">Order Information</h5>
            <ul class="">
              <li>
                  <label>Order Id:</label>
                  <span>15555</span>
              </li>
              <li>
                  <label>Phone:</label>
                  <span>15555898</span>
              </li>
              <li>
                  <label>Email:</label>
                  <span>toshmatovgmail.com</span>
              </li>
              <li>
                  <label>Shipping Method:</label>
                  <span>Free Shipping</span>
              </li>
              <li class="d-flex flex-row">
                  <label>Payment Method:</label>
                  <span style="font-size: 13px; color: #999;" class="d-flex flex-">
                      Bank Transfer:
                      <br>
                      Bank Name : Lorem Ipsum
                      <br>
                      Benificiary Name: Jon Doe
                  </span>
              </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h5 class="mb-3">Billing Address</h5>
            <address class="d-flex flex-column">
                <span>Nayda Holt</span>
                <span>713 West Milton Drive</span>
                <span>Autem indicididunt enu</span>
                <span>efefer e evfe  erfefer </span>
                <span>United States</span>
            </address>
        </div>
        <div class="col-lg-4">
            <h5 class="mb-3">Shipping Address</h5>
            <address class="d-flex flex-column">
                <span>Nayda Holt</span>
                <span>713 West Milton Drive</span>
                <span>Autem indicididunt enu</span>
                <span>efefer e evfe  erfefer </span>
                <span>United States</span>
            </address>
        </div>
       </div>
    </div>
    <div class="details-middle">
         <table class="table w-100" style="border: 1px solid #dee2e6;">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Line Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h6>Huawei Mate 30 Pro 6.53" 128GB 8GB RAM (GSM Only, No CDMA) Factory Unlocked</h6> </td>
                    <td>
                        <label>Unit Price</label>
                        <span>$800</span>
                    </td>
                    <td>
                        <label>Quantity</label>
                        <span>1</span>
                    </td>
                    <td>
                        <label>Line Price</label>
                        <span>$800</span>
                    </td>
                </tr>
            </tbody>
         </table>
    </div>
    <div class="details-bottom d-flex justify-content-end">
        <div class="details-wrapper w-25">
            <ul>
                <li>
                    <label>Subtotal</label>
                    <span>$15555</span>
                </li>
                <li>
                    <label>Free Shipping</label>
                    <span>$000</span>
                </li>
            </ul>
            <div class="total-price d-flex justify-content-between">
                <label>Total</label>
                <span>$30000</span>
            </div>
        </div>
        
    </div>
</div>
