@mixin input(){
    height: 40px;
    font-size: 17px;
    padding: 0 33px;
    
    &:focus{
      box-shadow: none !important;
      outline: 1px solid #007bff;
    }
    &:focus ~ .inp-icon i{
      color: #25292c;
    }
  }
  
  @mixin iconStyles($size:41px){
    position: absolute;
    top: $size;
    left: 7px;
    width: 0;
    font-size: 20px;
    color: #6c757d !important;
  }

  @mixin reponsiveInput(){
    height: 30px;
    font-size: 13px;
    & ~ .inp-icon {
      font-size: 15px;
      top: 29px;
    }

    & ~ .eye-icon {
        font-size: 15px;
        top: 29px;
    }

    & ~ label{
        font-size: smaller !important;
    }
  }

  @mixin backDropBtnStyles(){
    z-index: 1000;
    top:0%;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5d1d1cf;
  }

  @mixin storeContainer(){
    width: 94%;
    display: flex;
    align-items: center;
  }

  @mixin mainTitleOverflow($size){
    font-size: $size;
    line-height: 18px;
    max-height: 36px;
    display: -webkit-box;
    color: $color-black;
    text-overflow: ellipsis;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: $font-semibold;
    transition: $transition-150;
    cursor: pointer;
    &:hover{
      text-decoration-line: underline !important;
    }
  }
  @mixin blogPostTitleStyle(){
        border-bottom:  1px solid $border-color-lite;
        position: relative;
        width: 100%;
        margin-top: 14px;
        &::after{
            content: '';
            position: absolute;
            width: 50px;
            bottom: -1px;
            left: 0px;
            border-bottom:2px solid $color-primary;
        }
  }