//base-classes

    $base-font-size: 15px;
    $font-light: 300;
    $font-normal: 400;
    $font-medium: 500;
    $font-semibold: 600;
    $font-bold: 700;
    $font-extrabold: 800;
    $color-secondary: #00bc65;
    $color-dark: #0e1e3e;
    $color-dark-2: #626f84;
    $color-dark-3: #a0aec0;
    $color-dark-4: #d9dfe4;
    $color-light: #ffffff;
    $color-border: #e1e2e4;
    $color-white: #ffffff;
    $border-color: #e8e7eb;
    $color-red: #ff5748;
    $default-border-radius: 8px;
    $transition-200: .2s ease-in-out;
    $color-primary-alpha-90: rgba(0, 104, 225, 0.9);
    $color-primary: #0068e1;
    $color-primary-hover: #0055b8;
    $input-error-style: solid 1px $color-red;
    $error-text-message:$color-red;
    $color-primary-alpha-10: rgba(0, 104, 225, 0.1);
    $color-primary-alpha-12: rgba(0, 104, 225, 0.12);
    $color-primary-alpha-15: rgba(0, 104, 225, 0.15);
    $color-primary-alpha-30: rgba(0, 104, 225, 0.3);
    $color-primary-alpha-80: rgba(0, 104, 225, 0.8);
    $color-primary-darken-10: #005ecb;
    $color-primary-darken-50: #003471;
    $color-gray: #6e6e6e;
    $color-gray-lite: #ebebeb;
    $color-gray-dark: #a6a6a6;
    $color-gray-dark-lite: rgba(205, 205, 205, 1);

$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-offcanvas-backdrop:         1040;
$zindex-offcanvas:                  1045;
$zindex-modal-backdrop:             1050;
$zindex-modal:                      1055;
$zindex-popover:                    1070;
$zindex-tooltip:                    1080;
$zindex-toast:                      1090;